<% content_for :errors do  %>
  <% if @provider.errors.any? %>
  <div id="error_explanation">
      <h3><%= pluralize(@provider.errors.count, "error") %> prohibited this merchant from being saved:</h3>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li style="width:350px; color: #cc3366;"><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
<% end %>

<%= yield :errors %>