<div class="column">

    <%= render 'staff_links' %>


    <div class="giftText giftTextLarge">

      <% if @people[0].kind_of? User %>
        <% title = "Drinkboard Members" %>
      <% else %>
        <% title = "Staff" %>
      <% end %>
    </div>
    <%= render 'shared/user_list', people: @people, title: title %>
</div>
