<div class="column">

<%= render 'staff_links' %>
    <div class="giftText giftTextLarge">

      <h2>Choose From Drinkboard Members</h2>
    </div> 
    <%= render 'shared/user_list', people: @people, title: "Employees" %>
</div>
