<!-- HERE is the main Body -->
<table style="width: 580px;" class="innertable" border="0" cellpadding="0"
cellspacing="0">
<tbody>
  <tr>
<!-- HERE is the main body image -->
    <td class="content" style="background-color: #ffffff; background-image:
    url('/spacers/background_body-top.gif');
    background-position: 0 0; background-repeat: repeat-x; padding: 38px 40px 0
    40px;" width="500">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
    18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px;
    margin-right: 0; padding: 0;">Drinkboard User,</p>
    <p style="font-family: georgia, serif; font-weight: normal; font-size:
    15px; line-height: 20px; color: #595959; margin-top: 0; margin-left: 0;
    margin-bottom: 20px; margin-right: 0; padding: 0;"></p>
    <table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
    border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;
        margin: 0;" class="list-item" width="1">
        <%= image_tag 'icon114.png', :class => "list-image", :style => "-ms-interpolation-mode: bicubic;" , height: "100" , wdith: "114" , alt: "Logo Image" %>
        </td>
        <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
          <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
          15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
          margin-bottom: 15px; margin-right: 0; padding: 0;">It is possible that you received your email in error or your token has expired.<br /> </p>
        </td>
      </tr>
    </tbody>
  </table>

  <%= render 'email/blocks/cheers', serious: true %>

<img src="/spacers/spacer.gif" border="0" height="15" width="1" /></td>
</tr>
</tbody>
</table>