<%= render 'email/blocks/table_header' %>

<%= render 'email/blocks/salutation', salute: "Drinkboard User," %>

<table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <%= render 'email/blocks/icon_td' %>

    <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
      <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
      15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
      margin-bottom: 15px; margin-right: 0; padding: 0;">It is possible that you received your email in error or your token has expired.<br /> </p>
    </td>
  </tr>
</tbody>
</table>

<%= render 'email/blocks/cheers', serious: true %>

