<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>IOM_PaperGiftCard_3</title>
<style type="text/css"> * {margin:0; padding:0; text-indent:0; }
 h1 { color: black; font-family:"DIN Pro Condensed", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 28pt; }
 p { color: black; font-family:"DIN Pro", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; margin:0pt; }
 .s1 { color: black; font-family:"DIN Pro", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 h2 { color: black; font-family:"DIN Pro", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 20pt; }
 h3 { color: #33A6DB; font-family:"DIN Pro Condensed", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
 .a, a { color: black; font-family:"DIN Pro", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s2 { color: black; font-family:"DIN Pro", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
</style>
</head>
<body><p style="text-indent: 0pt;text-align: left;">
<span>
<img width="816" height="1056" alt="image" src="certificate_background.png"/>
</span></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p><h1 style="padding-top: 8pt;padding-left: 131pt;text-indent: 0pt;text-align: left;">GIFT CERTIFICATE</h1><p style="text-indent: 0pt;text-align: left;"><br/></p><p style="padding-top: 7pt;padding-left: 168pt;text-indent: 0pt;text-align: center;">Restaurant</p><p class="s1" style="padding-top: 8pt;padding-left: 168pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Restaurant Address City, State ZIP</p><p style="text-indent: 0pt;text-align: left;"><br/></p><p style="text-indent: 0pt;text-align: left;"><br/></p><p style="padding-left: 54pt;text-indent: 0pt;text-align: center;">Happy Birthday Dad!!! We Love you!</p><h2 style="padding-top: 17pt;padding-left: 54pt;text-indent: 0pt;text-align: center;">$50 (Fifty US Dollars)</h2><p style="text-indent: 0pt;text-align: left;"><br/></p><p style="padding-left: 54pt;text-indent: 0pt;text-align: center;">Happy Birthday Dad!!! We Love you!</p><h2 style="padding-top: 17pt;padding-left: 54pt;text-indent: 0pt;text-align: center;">$50 (Fifty US Dollars)</h2><p style="padding-left: 51pt;text-indent: 0pt;text-align: left;"/><p style="text-indent: 0pt;text-align: left;"><br/></p><p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s1" style="padding-left: 102pt;text-indent: 0pt;text-align: left;">Gift Voucher ID</p><h3 style="padding-top: 4pt;padding-left: 146pt;text-indent: 0pt;line-height: 16pt;text-align: left;">Need help?</h3><p class="s1" style="padding-left: 102pt;text-indent: 0pt;line-height: 14pt;text-align: left;">Text 310-235-3835</p><p style="padding-left: 124pt;text-indent: -20pt;line-height: 14pt;text-align: left;"><a href="http://www.itson.me/" class="a" target="_blank">support@itson.me </a><a href="http://www.itson.me/" target="_blank">www.itson.me</a></p><p style="text-indent: 0pt;text-align: left;"><br/></p><p class="s2" style="padding-left: 147pt;text-indent: 0pt;text-align: left;">Powered by</p></body>
</html>