<table style="width: 584px;" class="table" border="0" cellpadding="0"
cellspacing="0">
<tbody>
<tr>
<td class="innercell" style="background-color: #fff; background-image:
url('/assets/backgroundBorderBar320.gif');
background-position: 0 0; background-repeat: repeat-y; padding-left: 2px;
padding-right: 2px;" width="580">

<!-- HERE is the main Body -->
<table style="width: 580px;" class="innertable" border="0" cellpadding="0"
cellspacing="0">
<tbody>
  <tr>
<!-- HERE is the main body image -->
    <td class="content" style="background-color: #ffffff; background-image:
    url('http://lists.evernote.com/admin/temp/templates/4/background_body-top.gif');
    background-position: 0 0; background-repeat: repeat-x; padding: 38px 40px 0
    40px;" width="500">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
    18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px;
    margin-right: 0; padding: 0;">Welcome to Drinkboard,</p>
    <p style="font-family: georgia, serif; font-weight: normal; font-size:
    15px; line-height: 20px; color: #595959; margin-top: 0; margin-left: 0;
    margin-bottom: 20px; margin-right: 0; padding: 0;"><%= yield %></p>
    <table style="margin: 0pt; padding: 0pt; width: 100%;" class="list"
    border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;
        margin: 0;" class="list-item" width="1">
        <%= image_tag 'icon114.png', :class => "list-image", :style => "-ms-interpolation-mode: bicubic;" , height: "100" , wdith: "114" , alt: "Logo Image" %>
        </td>
        <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
          <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
          15px; line-height: 20px; color: rgba(50,58,69,1); margin-top: 0; margin-left: 0;
          margin-bottom: 15px; margin-right: 0; padding: 0;">Wherever your friends may be, you can be there with Drinkboard.  Buy your friends a round from across the world.  Never miss a celebration or a birthday again. Technology finally helping you improve your life.<br /> 
<!-- LINK to home web page -->
          <a
          href="http://bit.ly/drinkboard"
          style="color: rgba(84,178,209,1); text-decoration: none;"><span style="color:
          rgba(84,178,209,1);">Get the App &rarr;</span></a></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 15px; margin-right: 0; padding: 0;">To experience
  Drinkboard, <a
  href="http://bit.ly/drinkboard"
  style="color: #69aa35; text-decoration: none;"><span style="color:
  rgba(84,178,209,1);">download</span></a> it to iPhone or view in your <a
  href="http://www.drinkboard.com"
  style="color: #69aa35; text-decoration: none;"><span style="color:
  rgba(84,178,209,1);">browser</span></a>.</p>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 10px; margin-right: 0; padding: 0;">Read about the social media platform that can actually make you <a
  href="http://www.drinkboard.com/home/howitworks"
  style="color: rgba(84,178,209,1); text-decoration: none;"><span style="color:
  rgba(84,178,209,1);">MORE</span></a> social in our <a
  href="http://pinterest.com/Drinkboard/"
  style="color: rgba(84,178,209,1); text-decoration: none;"><span style="color:
  rgba(84,178,209,1);">Tips and Cool Stuff Gallery</span></a>.</p>
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 15px; margin-left: 0;
  margin-bottom: 20px; margin-right: 0; padding: 0;">Cheers,<br /> - Drinkboard
  Staff</p>
  <table style="margin: 0pt; padding: 0pt; border-top: 1px solid #cccccc;
  border-right: 0pt none ! important; border-left: 0pt none ! important;
  border-bottom: 0pt none ! important; width: 500px;" class="webby"
  border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="padding-right: 25px; padding-top: 20px; margin: 0;
      vertical-align: middle;" class="list-item imageBorder" valign="middle">
        <%= image_tag "tv_DC_soho.png", :style => "-ms-interpolation-mode: bicubic;border: 1px solid white;
	box-shadow: 1px 1px 3px 1px black;", height: "60", width: "89", alt: "Merchants" %>
      </td>
      <td style="padding: 0; margin: 0; vertical-align: middle;"
      valign="middle">
      <p style="color: #595959; font-family: 'Trebuchet MS', helvetica, sans serif;
      font-size: 12px; margin: 0; padding: 20px 0 0 0;">
        <span style="font-weight: bold;">Meet Our Partners</span>
        <br />We have curated an amazing group of fine establishments using our taste and sensibility.  We hope you will like their hard work. Please take a minute to look thru our partners.
        <a href="http://www.drinkboard.com/merchants/index" style="color: #69aa35; text-decoration: none;">
          <span style="color: rgba(84,178,209,1);">Click here to be a partner&nbsp;&rarr;</span>
        </a>
      </p>
    </td>
  </tr>
</tbody>
</table>
<img src="http://lists.evernote.com/admin/temp/user/1/spacer.gif"
border="0" height="15" width="1" /></td>
</tr>
</tbody>
</table>