<div class="menuBuilderBackground"></div>

<div class="menuEditWrapper">
	<div class="topRow">
		<h4 class="editMenuHeader">
			UPDATE MENU
		</h4>
		<div class="topRowTabsWrapper">
			<div class="topRowTabPreview topRowTab">
				<h4 class="topRowTab1 topRowText">
					<a href="">PREVIEW</a>
				</h4>
			</div>
		
			<div class="topRowTabHow topRowTab">
				<h4 class="topRowTab2 topRowText">
					<a href="">HOW TO</a>
				</h4>
			</div>
		
			<div class="topRowTabSave topRowTab">
				<h4 class="topRowTab3 topRowText">
					<a href="">SAVE</a>
				</h4>
			</div>
		</div>
	</div> <!-- End Top Row -->

	<div class="row2Wrapper">
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">BEER</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">WINE</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">LIQUER</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">COCKTAILS</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">SPECIALTIY</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">APPETIZER</a>
			</h4>
		</div>
		<div class="row2ButtonUp">
			<h4 class="row2Text">
				<a href="">ENTRE</a>
			</h4>
		</div>
	</div> <!-- End Row 2 (Drink type, beer, wine, liquer etc..). -->

	<div class="bigButtons">
		<div class="bigButtonLeft">
			<h4 class="bigButtonTextLeft">
				<a href="">MENU ITEM</a>
			</h4>
		</div>
		<div class="bigButtonRight">
			<h4 class="bigButtonTextRight">
				<a href="">ADD ITEM</a>
			</h4>
		</div>
	</div> <!--! End Row 3 (big menu buttons left/right) -->


	<div class="bigGreyHeader"> 

		<!-- header signature items -->
		<h4 class="headerTextSignature">ADD SIGNATURE ITEMS</h4>

		<!-- header menu items -->
		<h4 class="columnHeaderName headerTextMenuItems">
			NAME
		</h4> 
		<h4 class="columnHeaderDescription headerTextMenuItems">
			DESCRIPTION
		</h4>
		<h4 class="columnHeaderPrice headerTextMenuItems">
			PRICE
		</h4>
		<!-- header preview text -->
		<h4 class="headerTextPreview">
			PREVIEW
		</h4>
	</div>

<!--! Start MENU ITEMS section -->

	<div class="menuItemsWrapper">
		<ul class="menuItemList">
			<li class="menuItemRow">
				<input type="checkbox">
				<h4 class="itemName">
					Corona
				</h4>
				<h4 class="itemDescription">
					Mexican Beer
				</h4>
				<input type="text" class="priceDisplay">
			</li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
			<li class="menuItemRow"></li>
		</ul>
		<div class="buttonMoney"></div>
		<div class="buttonTrash"></div>
		<div class="saveMenuItems">
			<h4>
				<a href="">SAVE</a>
			</h4>
		</div>
	</div>

<!--! Start SIGNATURE ITEMS section -->	
	<div class="addItemWrapper">

		<!-- Add Signature FOOD Section (left box) -->
		<form class="enterSigFoodForm">
			<input type="text" class="newItemName signatureInputSmall">
			<input type="text" class="newItemDescription signatureInputBig">
			<input type="text" class="newItemPrice">
		</form>

		<div class="addItemFrame1">
			<div class="adjustUpDown">
				<div class="adjustUp"><a href=""></a></div>
				<div class="adjustDown"><a href=""></a></div>
			</div>
			<div class="smallTitleBar">
				<h4>YOUR SIGNATURE FOOD</h4>
			</div>
			<div class="addSignatureItemButton">
				<h4><a href="">ADD ITEM</a></h4>
			</div>
			<div class="greyBox">
				<div class="drinkIcon"></div>
				<h4 class="itemName">
					Corona 
				</h4>
				<h4 class="itemDescription">
					Mexican beer
				</h4>
			</div>
		</div> <!--! End Background Frame 1 -->
		

		<!-- Add Signature DRINK Section (right box) -->
		<form class="enterSigDrinkForm">
			<input type="text" class="newItemName signatureInputSmall">
			<input type="text" class="newItemDescription signatureInputBig">
			<input type="text" class="newItemPrice">
		</form>
		<div class="addItemFrame2"> 
			<div class="adjustUpDown">
				<div class="adjustUp"><a href=""></a></div>
				<div class="adjustDown"><a href=""></a></div>
			</div>
			<div class="smallTitleBar">
				<h4>YOUR SIGNATURE DRINK</h4>
			</div>
			<div class="addSignatureItemButton">
				<h4><a href="">ADD ITEM</a></h4>
			</div>
			<div class="greyBox">
				<div class="foodIcon"></div>
				<h4 class="itemName">
					Corona 
				</h4>
				<h4 class="itemDescription">
					Mexican beer
				</h4>
			</div>
		</div> <!-- End Signature DRINK section -->

		<div class="buttonSaveHuge">
			<h4>
				<a href="">SAVE</a>
			</h4>
		</div>
	</div> <!-- End addItemWrapper -->

	<!-- Start Menu Preview -->
	<div class="wrapperPreview">
		<div class="thinCategoryHeader thinCategory">
			<h4 class="thinCategoryText">
				SIGNATURE
			</h4>
		</div>

		<div class="signatureBox1">
			<div class="signatureIcon1"></div>
			<h4>CORONA<br />
			MEXICAN BEER</h4>
		</div>
		<div class="signatureBox2">
			<div class="signatureIcon2"></div>
			<h4>CORONA<br />
			MEXICAN BEER</h4>
		</div>
		<div class="thinCategoryHeader thinCategory">
			<h4 class="thinCategoryText">
				BEER
			</h4>
		</div>
		<ul class="menuItemList menuItemListPreview">
			<li class="menuItemRow">
				<div class="buttonTrash"></div>
				<h4 class="itemName">
					Corona
				</h4>
				<h4 class="itemDescription">
					Mexican Beer
				</h4>
				<input type="text" class="priceDisplay">
			</li>
			<li class="menuItemRow">
				<div class="buttonTrash"></div>
				<h4 class="itemName">
					Corona
				</h4>
				<h4 class="itemDescription">
					Mexican Beer
				</h4>
				<input type="text" class="priceDisplay">
			</li>
		</ul>
		<div class="thinCategoryHeader thinCategory">
			<h4 class="thinCategoryText">
				WINE
			</h4>
		</div>
		<ul class="menuItemList menuItemListPreview">
			<li class="menuItemRow">
				<div class="buttonTrash"></div>
				<h4 class="itemName">
					Corona
				</h4>
				<h4 class="itemDescription">
					Mexican Beer
				</h4>
				<input type="text" class="priceDisplay">
			</li>
			<li class="menuItemRow">
				<div class="buttonTrash"></div>
				<h4 class="itemName">
					Corona
				</h4>
				<h4 class="itemDescription">
					Mexican Beer
				</h4>
				<input type="text" class="priceDisplay">
			</li>
		</ul>	
		<div class="buttonSaveHugePreview">
			<h4>
				<a href="">SAVE</a>
			</h4>
		</div>	
	</div>

	<!-- Start Wrapper Beer Grid -->
	<div class="wrapperBeerGrid">
		<div class="cellBeer">
			<h4 class="cellBeerText">
				Budweiser
			</h4>
		</div>

	</div>  <!-- End wrapperBeerGrid -->
</div>




</div> <!-- End menuEditWrapper -->







