<div class="menuBuilderBackground"></div>

<div class="menuEditWrapper">
	<div class="topRow">
		<h4 class="editMenuHeader">
			UPDATE MENU
		</h4>
		<div class="topRowTabsWrapper">
			<div class="topRowTabPreview topRowTab">
				<h4 class="topRowTab1 topRowText">
					PREVIEW
				</h4>
			</div>
		
			<div class="topRowTabHow topRowTab">
				<h4 class="topRowTab2 topRowText">
					HOW TO
				</h4>
			</div>
		
			<div class="topRowTabSave topRowTab">
				<h4 class="topRowTab3 topRowText">
					SAVE
				</h4>
			</div>
		</div>
	
		<div class="row2Wrapper">
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					BEER
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					WINE
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					LIQUER
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					COCKTAILS
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					SPECIALTIY
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					APPETIZER
				</h4>
			</div>
			<div class="row2ButtonUp">
				<h4 class="row2Text">
					ENTRE
				</h4>
			</div>
		</div>
	</div>
</div>