<div class="beerWrapper menuCell">
	<div id="editPricesButtonBeer" class="buttonSmallerUp buttonSmallerDown">
		<div class="buttonHiderPrice"></div>
		<h5><a href="">edit price</a></h5>
	</div>
	<div id="editItemsButtonBeer" class="buttonSmallerDown buttonSmallerUp">
		<div class="buttonHiderItem"></div>
		<h5><a href="">edit items</a></h5>
	</div>
	<h5 class="menuSectionHeader">
		Beer
	</h5>
	<div class="buttonSave buttonSaveBeerPrice buttonSmallDown buttonSmallUp">
		<h5><a href="">save</a></h5>
	</div>

	<!-- Beer Edit Wrapper -->
	<div class="buttonSave buttonSaveBeerItem buttonSmallDown buttonSmallUp">
		<h5><a href="">save</a></h5>
	</div>

	<div class="beerEditWrapper rounded gradient">
		<ul class="beerList staticList">
			<li class="staticButtonOff staticButton">

				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="plusIcon"></div>
				<div class="minusIcon"></div>
				<a href="" class="staticClickOff"></a>
			</li>
			<li class="staticButtonActive staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonActive staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonActive staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonOff staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonActive staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonOff staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonOff staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonOff staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
			<li class="staticButtonActive staticButton">
				<h5 class="staticButtonText">
					Heinekin <br />
					3 Lines <br />
					of text <br />
				</h5>
				<h5 class="staticButtonPrice">
					$9
				</h5>
				<div class="minusIcon"></div>
				<div class="plusIcon"></div>
				<a href="" class="staticClickOn"></a>
			</li>
		</ul>
	</div>

	<!-- Beer Menu Entry -->
	<ul class="beerItemsList ulSingleLineItem beerMenuBox">
		<li class="singleLineItem">
			<h5 class="beerTitle itemTitle itemTitleSingle">
				 Beer Name Goes Here
				 <span class="beerPrice priceSingleItem">
					- 18
				</span>
			</h5>
			<div class="priceEditLine">
				<div class="arrowDown"></div>
				<h5 class="dollarSignSmall">$</h5>
				<input type="text" placeholder="" class="beerPriceLine rounded gradient">
			</div>
		</li>

		<li class="singleLineItem">
			<h5 class="beerTitle itemTitle itemTitleSingle">
				 Beer Name Goes Here
				 <span class="beerPrice priceSingleItem">
					- 18
				</span>
			</h5>
			<div class="priceEditLine">
				<div class="arrowDown"></div>
				<h5 class="dollarSignSmall">$</h5>
				<input type="text" placeholder="" class="beerPriceLine rounded gradient">
			</div>
		</li>

		<li class="singleLineItem">
			<h5 class="beerTitle itemTitle itemTitleSingle">
				 Beer Name Goes Here
				 <span class="beerPrice priceSingleItem">
					- 18
				</span>
			</h5>
			<div class="priceEditLine">
				<div class="arrowDown"></div>
				<h5 class="dollarSignSmall">$</h5>
				<input type="text" placeholder="" class="beerPriceLine rounded gradient">
			</div>
		</li>
  		</ul>
</div>  <!-- End Beer Wrapper -->
