<% content_for :body do %>
	<p>Hey there <%= @gift.receiver_name.capitalize %>,</p>
	<p>A Gift is ready for you on Drinkboard!</p>
	<p>Purchased by <%= @gift.giver_name %></p>
	<p>Your drinks are at <%= @gift.provider_name %></p>
	<div><%= list_shopping_cart(@gift) %></div>
	<p>Drinkboard is the best way to remotely buy drinks for your friends.</p>
<% end %>