<% content_for :body do %>
	<p>Dear <%= @user.first_name %>,</p>
	<p>Reset your password here:</p>
	<p>http://www.drinkboard.com/users/reset_password?reset_token=<%= @user[:reset_token] %></p>
<% end %>