<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/email.css" />
	</head>
	<body>
		<table width="630" cellspacing="0" cellpadding="0" border="0" id="email_wrapper">
			<tbody>
				<tr>
					<td>
						<table width="630" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td>
										<%= image_tag("blankHeader.png") %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td width="630">
						<table width="630" cellspacing="25" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td width="580">
										<table cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td id="body_wrapper">
														<table cellspacing="15" cellpadding="0" border="0">
															<tbody>
																<tr>
																	<td>
																		<%= yield :body %>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<!-- <td><%= image_tag("ba_email_foot_shadow.png") %></td> -->
												</tr>
												<tr>
													<td id="footer_text">
														<p>Don't want to receive these emails? Head over to your User Settings page and unsubscribe.</p>
														<p>© 2012 Drinkboard.</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>