<div class="bankCell POSsingleColumn">
  <<h2>Test All Emailers Here</h2>
  <div class="merchantSignUpObject rounded gradient">
	<h3>Click to <%= link_to 'Run Email System Test', '/admin/run_tests' %></h3>
</div>
</div>