<div class="doubleColumn">
	<% if params[:email] %>
		<p><%= "If the email #{params[:email]} is registered with us, you will receive a password request shortly." %></p>
	<% else %>
		<% if params[:reset_token] %>
			<p>The reset token you were sent is invalid or has expired. Try resetting your password again.</p>
		<% end %>
	<ul>
	    <li style="width:500px;padding-top:30px;">
	      <h2>Enter the email address for the account</h2>
	    </li>
    	<li class="ordersDisplay" style="width:450px;">	
    		<% @user = User.new %>
		<%= form_for(@user, url: reset_password_users_path) do |f| %>
		<div class="inputWrap" style="width:376px;">
		  <%= f.text_field :email, placeholder: "Enter Email Address", :class => "miTitleForm rounded inputFieldObj formObj" %>
		  <%= f.submit "Submit" , class: "buttonInput buttonImageUp signInPOS", style: "margin-top: -45px;padding:4px;" %>
		<% end %>
		</div>
		</li>
	</ul>
	<% end %>
</div>