<div class="center borderBox">
  <div class="row">
    <h1><strong><%= image_tag "d-bottle-cap-icon.png"  %></strong>&nbsp;<%= image_tag "banner-drinkboard.png" %></h1>
    <% if !signed_in? %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <%  end %>
  </div>
</div>