<div class="center hero-unit">
  <div class="row">
    <h1><strong><%= PAGE_NAME %></strong>&nbsp;<%= image_tag "88-beer-glass-gray.png" %></h1>
    <h2>You are signed in as </h2>
    <%= render 'shared/user_info' %> 
    <p></p>
    <div><%= link_to "Not #{current_user.username}?", signout_path, method: "delete"%></div>
  </div>
</div>
