<h2 class="redeemButton">
  <%= button_to "Details", detail_gift_path(gift), method: :get %>
</h2>

<h2 class="sendButton">
  <%= button_to "Send them a drink",  browse_with_contact_gifts_path(id: gift.giver_id) %>
</h2>