<ul id="filters" class="filters tabsList">
  <li class="filterAll">
    <h2>
      <a href="#" data-filter="*">All</a>
    </h2>
  </li>
  <li class="filterActive">
    <h2>
      <a href="#" data-filter=".active">Active</a>
    </h2>
  </li>

  <li class="filterComplete">
    <h2>
      <a href="#" data-filter=".completed">Completed</a>
    </h2>
  </li>
</ul>