<ul id="filters">
  <li>
    <div class="allColorBox colorBox"></div>
    <h1 class="allFilter">
      <a href="#" data-filter="*">All</a>
    </h1>
  </li>

  <li>
    <div class="allColorBox colorBox"></div>
    <h1 class="activeFilter">
      <a href="#" data-filter=".active">Active</a>
    </h1>
  </li>

  <li>
    <div class="allColorBox colorBox"></div>
    <h1 class="completedFilter">
      <a href="#" data-filter=".completed">Completed</a>
    </h2>
  </li>
</ul>