<p>At the <strong><%= @merchant.name %></strong></p>
<div style="margin-left:50px;margin-bottom:25px;">
  <hr />
  <% @cart.each do |item| %>
    <p>
      <%= item["quantity"] %>&nbsp;<%= item["item_name"] %>
    </p>
  <% end %>
  <hr />

</div>