  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
  margin-bottom: 15px; margin-right: 0; padding: 0;">To experience
  Drinkboard, <a href="<%= PUBLIC_URL %>"style="color: #69aa35; text-decoration: none;">
  <span style=" color:rgba(84,178,209,1);">
    download
  </span>
  </a> it to iPhone or view in your <a href="<%= PUBLIC_URL %>" style="color: #69aa35; text-decoration: none;">
  <span style="color:
  rgba(84,178,209,1);">
  browser
</span>
</a>.
</p>