<td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;
margin: 0;" class="list-item" width="1">
<%= image_tag 'icon114.png', :class => "list-image", :style => "-ms-interpolation-mode: bicubic;" , height: "100" , wdith: "114" , alt: "Please Accept Images" %>
</td>