<td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
  <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
  15px; line-height: 20px; color: #323A45; margin-top: 0; margin-left: 0;
  margin-bottom: 35px; margin-right: 0; padding: 0;">Wherever your friends may be, you can be there with Drinkboard.  Buy your friends a round from across the world.  Never miss a celebration or a birthday again.</p>
</td>