<tr>

  <%= render 'email/blocks/user_image_td' %>

  <td style="vertical-align: top; text-align: left; padding: 0; margin: 0;">
    <p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
    15px; line-height: 20px; color: #323A45; margin-top: 0; margin-left: 0;
    margin-bottom: 15px; margin-right: 0; padding: 0;">
<!-- LINK to gift -->
        <p>Purchased for <%= @gift.receiver_name %></p>
        <p>Redeemed at the <%= @merchant.name %></p>
        <p><%= @gift.order.created_at.strftime("%l:%M %p - %A, %B %e") %></p>
    </p>
  </td>

</tr>