<tr>
  <td>
  </td>
  <td>
    <a href="<%= PUBLIC_URL %>" style="color: #69aa35; text-decoration: none;">
      <span style="color: rgba(84,178,209,1);">
        OPEN APP
      </span>
    </a>
  </td>
  <td>
  </td>
</tr>