<td style="vertical-align: top; text-align: left; padding: 0 20px 0 0;margin: 0;" class="list-item" width="1">

  <%= image_tag @gift.receiver.get_photo, :class => "list-image", :style => "-ms-interpolation-mode: bicubic; border: 1px solid white;box-shadow: 1px 1px 3px 1px black;" , height: "100" , wdith: "114" , alt: "Logo Image" %>

</td>