<p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size: 18px; color: #000; margin-top: 0; margin-left: 0; margin-bottom: 17px; margin-right: 0; padding: 0;">
  Hi <%= @gift.giver_name %>,
</p>