<p style="font-family: 'Trebuchet MS', serif; font-weight: normal; font-size:
15px; line-height: 20px; color: #595959; margin-top: 10px; margin-left: 0;
margin-bottom: 10px; margin-right: 0; padding: 0;">Read about the social media platform that can actually make you <a
href="http://www.drinkboard.com/home/howitworks"
style="color: rgba(84,178,209,1); text-decoration: none;"><span style="color:
rgba(84,178,209,1);">MORE</span></a> social in our <a
href="http://pinterest.com/Drinkboard/"
style="color: rgba(84,178,209,1); text-decoration: none;"><span style="color:
rgba(84,178,209,1);">Tips and Cool Stuff Gallery</span></a>.</p>