<ul>
	<% num = 0 %>
	<% menu_array.each do |menu_section| %>
	<li class="menu_section">
		<h2 class="obj pos">
    		<%= menu_section[0] %>     
    		<span id="" class="menuListEdit buttonMenuList buttonEditPos buttonImageUp">
        		<a href="">edit</a>
      		</span>
    		<span id="" class="menuListSave buttonMenuList buttonSavePos buttonImageUp">
        		<a href="">save</a>
      		</span> 
    	</h2>

    	<!-- EACH MENU SECTION ('Beer' or 'Wine' etc) RENDERED in this template -->
		<%= render 'menu_section', menu_section: menu_section[1] %>

		<% num += 1 %>
		<% if num <  menu_array.count %>
			<div class="lineHorizontal"></div>
		<% else %>
			<div class="lineHorizontal" style="background-image:none;"></div>
		<% end %>
	</li>
	<% end %>
</ul>