<div class="doubleColumn">
	<ul id="biographies" class="merchantMenu" style="margin-top:50px;">
	<li><a href="explorer" id="name=baronVonJovi">Baron von Jovi</a></li>
	<li><a href="explorer" id="name=computadors">The Computadors</a></li>
	<li><a href="explorer" id="name=darthFader">Darth Fader</a></li>
	<li><a href="explorer" id="name=moFat">Mo' Fat</a></li>
	</ul>
	<div id="biography"><h2>
	Click on a celeb above to find out more!</h2>
	</div>
	<div id="linkDb"><a href="#" id="getData">LinkerDb test</a>
</div>