
<% if false %>
	<%= render 'header' %>
<% else %>
	<div class="menuMakerWrapper">
<% end %>
<div class="columnOne">


	<%= render 'menu_list' %>



</div><!-- End Column 1 -->
<div class="columnTwo">



	<%= render 'menu_list' %>



</div><!-- End Column 2 -->
</div>