<div class="column">

	<!-- LEFT MENU COLUMN RENDERED in this template -->
	<%= render 'menu_list', menu_array: @left %>



</div><!-- End Column 1 -->
<div class="column">


	<!-- RIGHT MENU COLUMN RENDERED in this template -->
	<%= render 'menu_list', menu_array: @right %>



</div><!-- End Column 2 -->


<!-- 

Menu builder flow :
put list in two colummns - send sections array to each
loop the sections array
	1. build header with save/edit buttons object
	2. build section
		loop the items array
			1. choose between 3 item display objects
				item display w/descr | item display w/o desc | item input data
			2. line divisor
	3. line divider

 -->
