			<!-- Page HTML -->
<div id="left" class="column">

	<!-- LEFT MENU COLUMN RENDERED in this template -->


</div><!-- End Column 1 -->
<div id="right" class="column">


	<!-- RIGHT MENU COLUMN RENDERED in this template -->


</div><!-- End Column 2 -->

<!-- TEMPLATE OBJECTS -->
			<!-- Section Divider -->
<div id="itemDivider" class="lineHorizontal lineSectionPos template"></div>
			<!-- Item Divider -->
<div id="sectionDivider" class="lineHorizontal template"></div>


			<!-- Section Header -->
<h2 id="sectionHeader" class="obj pos template">
	<span id="headerTitle"></span>     
	<span id="" class="menuListEdit buttonMenuList buttonEditPos buttonImageUp">
		<a href="">edit</a>
		</span>
	<span id="" class="menuListSave buttonMenuList buttonSavePos buttonImageUp">
		<a href="">save</a>
		</span> 
</h2>



<% description =  "enter description here" %>
			<!-- Display Menu Item With Description -->
<div class="displayMenuItemDesc template">
	<ul id="displayMenuItemDesc" class="menuItem menuItemPos template">
		<li>
			<h5 class="miTitle" style="width:300px;">
	    		<!-- menu_item["item_name"] %> -->Test
	    	</h5>
		
		</li>
		<li>
			<h5 class="miDescription" style="width:300px;">
	    		<!-- menu_item["description"] %> -->test
	    	</h5>
		</li>
		<li>

			<h5 class="miPrice" style="width:300px;">
	    		<!-- menu_item["price"] %> -->test
	    	</h5>
		</li>
	</ul>
</div>
			<!-- Display Menu Item WithOUT Description -->
<div class="displayMenuItem template">
	<ul id="displayMenuItem" class="menuItem menuItemPos template">
		<li>
			<h5 class="miTitle" style="width:250px;">
	    		<!-- menu_item["item_name"] %> -->
	    	</h5>
		</li>
		<li>
			<h5 class="miPrice" style="margin-top:8px;">
	    		<!-- menu_item["price"] %> -->
	    	</h5>
		</li>
	</ul>
</div>
			<!-- Input Menu Item -->
<div class="menuItemForm template">
<ul class="inputWrap rounded gradient inputWrapPos">
	<li><input type="text" placeholder="Item Name" 
		class="miTitleForm rounded inputFieldObj inputFieldPos" />
	</li>
	<li><textarea placeholder="<%=  description %>" 
		class="miDescriptionForm rounded inputFieldObj inputFieldPos" style="resize: none;"></textarea>
	</li>
	<li>
		<h5 class="dollarSignPos dollarSignObj" >$</h5>
		<input type="text" placeholder="Price" rows="2" 
		class="inputFieldObj miPriceForm rounded">
	</li>
</ul>
</div>
<div id="placement"></div>

<script type="text/javascript">

	var left = new Array();
	var right = new Array();
	
	function splitMenu(menu) {
		//alert(menu);
		var column = 1;
	    $.each(menu, function() {
	    	if (column == 1) {
	    		left.push(this);
	    		column = 2;
	    	} else {
	    		right.push(this);
	    		column = 1;
	    	};
	    });
	};

	function getSectionHeader() {
		return $('#sectionHeader.template').clone().removeClass('template');
	}

	function getSectionHeaderWithTitle(title) {
		var hdr = $('#sectionHeader.template').clone().removeClass('template');
		hdr.find('#headerTitle').text(title);
		return hdr;
	};

	function setValuesForDisplay(display_item, obj) {
		$(display_item).find('.miTitle').text(obj.item_name);
		$(display_item).find('.miDescription').text(obj.description);
		$(display_item).find('.miPrice').text(obj.price);
	};

	function getInputTemplate() {
		return $('.menuItemForm.template').clone().removeClass('template').css({display:'block'});
	};

	function getDisplayTemplateDesc() {
		return $('#displayMenuItemDesc.template').clone().removeClass('template');
	};

	function getDisplayTemplate() {
		return $('#displayMenuItem.template').clone().removeClass('template');
	};

	function getSectionDivider() {
		return $('#sectionDivider.template').clone().removeClass('template');
	};

	function getItemDivider() {
		return $('#itemDivider.template').clone().removeClass('template');
	};

	function makeMenuList(menuList, columnStr) {
		var columnObj = $('#' + columnStr);
		var num = 0;
		$(columnObj).append('<ul>');
		$.each(menuList, function() {
			$(columnObj).append('<li class="menu_section">');
			var hdr = getSectionHeaderWithTitle(this[0]);
			$(columnObj).append(hdr);

			var index = 0;
			var items_ary = this[1];
			$(columnObj).append('<ul>');
			$.each(items_ary, function() {
				$(columnObj).append('<li>');
				index ++;
				//alert(this);
				var displayObj = getDisplayTemplate();
				if (this.description) {
					displayObj = getDisplayTemplateDesc();
				};
				setValuesForDisplay(displayObj, this);
				
				$(columnObj).append(displayObj);
				
				if (index < items_ary.length) {
					$(columnObj).append(getItemDivider());
				};
				$(columnObj).append('</li>');
			});
			$(columnObj).append('</ul>');
			//alert(hdr.text());
			num ++;
			if (num == menuList.length) {
				$(columnObj).append(getSectionDivider()).css({'background-image':'none'});
			} else {
				$(columnObj).append(getSectionDivider());
			};
			$(columnObj).append('</li>');
		});
		$(columnObj).append('</ul>');
	};

	var menu = <%= raw @menu_array %>;
	var inputTemplate = getInputTemplate;
	var displayTemplate = getDisplayTemplate;
	//$('#placement').html('<h2>Input Form</h2>');
	//$('#placement').append(inputTemplate);
	//$('#placement').append(displayTemplate);
	splitMenu(menu);
	//alert(left);
	makeMenuList(left, 'left');
	makeMenuList(right, 'right');
	//setValuesForDisplay(displayTemplate);

</script>











