<style>
	.request ul li {
		width: 700px;
		padding: 0 30px;
	}
	.request a {
			color:rgba(84,178,209,1);
	}
</style>

<div class="column inputWrap"></div>
<div id="response" class="column"></div>
<script>
	$('.inputWrap').empty().append('<%= j render("subtle_data/index") %>');
</script>