<div class="doubleColumn">
	<h2>POS page for links to subtle data</h2>
	<h2> <%= @response %></h2>
	<div id="linkDb"><a href="#" id="getData">LinkerDb test</a></div>
	<div id="request"><%= link_to '0000', pos_request_merchant_path(@provider), remote: :true %></div>
</div>
