<div class="doubleColumn">
  <div class="merchantShowWrapper rounded gradient">
    <div class="imageBorder">
      <%= custom_image_tag(@provider,180,180)  %>
    </div>
    <% if @provider.zinger %>
      <h4><%= @provider.zinger %></h4>
    <% end %>
    <% if @provider.description %>
      <h4><%= @provider.description %></h4>
    <% end %>
    <% if @provider.phone %>
      <h4><%= number_to_phone @provider.phone %></h4>
    <% end %>
  </div>
</div>

