a:hover,
a:active,
a:focus,
a:active {
  outline: none;
  -moz-outline-style: none;
}
@font-face {
  font-family: 'museo_sans_300regular';
  src: url('museosans-300-webfont.eot');
  src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('museosans-300-webfont.woff') format('woff'), url('museosans-300-webfont.ttf') format('truetype'), url('museosans-300-webfont.svg#museo_sans_300regular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_500regular';
  src: url('museosans_0-webfont.eot');
  src: url('museosans_0-webfont.eot?#iefix') format('embedded-opentype'), url('museosans_0-webfont.woff') format('woff'), url('museosans_0-webfont.ttf') format('truetype'), url('museosans_0-webfont.svg#museo_sans_500regular') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_700regular';
  src: url('museosans_1-webfont.eot');
  src: url('museosans_1-webfont.eot?#iefix') format('embedded-opentype'), url('museosans_1-webfont.woff') format('woff'), url('museosans_1-webfont.ttf') format('truetype'), url('museosans_1-webfont.svg#museo_sans_700regular') format('svg');
  font-weight: 700;
  font-style: normal;
}
h5 {
  color: white;
}
.vendorTitle {
  width: 350px;
  height: 110px;
  position: absolute;
  top: 33px;
  right: 18px;
  padding: 30px;
}
.vendorTitle h5 {
  font-family: 'museo_sans_500regular';
  color: white;
  font-size: 26px;
  font-weight: 500;
  line-height: 0.92;
}
.vendorTitle h6 {
  margin-top: 4px;
  font-size: 13px;
}
h5.menuSectionHeader {
  font-family: 'museo_sans_500regular';
  font-size: 24px;
  color: #8596A6;
  font-weight: 500;
  margin-top: 10px;
  padding-top: 11px;
  float: left;
}
h5.itemTitle {
  font-size: 18px;
  font-weight: normal;
  font-family: 'museo_sans_500regular';
  padding-top: 17px;
  padding-left: 5px;
  float: left;
  clear: both;
}
h5.itemDescription {
  font-size: 14px;
  font-weight: normal;
  font-family: 'museo_sans_300regular';
  padding-top: 7px;
  padding-left: 10px;
  float: left;
}
.itemPrice {
  font-size: 18px;
  font-weight: normal;
  font-family: 'museo_sans_500regular';
  padding-top: 9px;
  opacity: .4;
  padding-left: 5px;
  float: left;
}
.gradient {
  background: #22282d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiMyMjI4MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiMyYTJmMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #22282d 45%, #2a2f38 53%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #22282d), color-stop(53%, #2a2f38));
  background: -webkit-linear-gradient(top, #22282d 45%, #2a2f38 53%);
  background: -o-linear-gradient(top, #22282d 45%, #2a2f38 53%);
  background: -ms-linear-gradient(top, #22282d 45%, #2a2f38 53%);
  background: linear-gradient(to bottom, #22282d 45%, #2a2f38 53%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#22282d', endColorstr='#2a2f38', GradientType=0);
}
.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 3px solid #222;
  -moz-box-shadow: inset 0 0 6px #222;
  -webkit-box-shadow: inset 0 0 6px #222;
  box-shadow: inset 0 0 6px #222;
}
.menuMakerWrapper {
  background: url(backgroundMenuBuilder.png) repeat-y center;
  min-height: 1400px;
  width: 768px;
  position: relative;
  overflow: hidden;
  top: -25px;
}
.logoCrooked {
  background-image: url('logoCrooked.png');
  background-repeat: no-repeat;
  width: 191px;
  height: 198px;
  position: absolute;
  top: 0;
  left: 0;
}
.headerImage {
  background-image: url('headerImageMenuBuilder.png');
  background-repeat: no-repeat;
  width: 367px;
  height: 109px;
  position: absolute;
  top: 51px;
  left: 21px;
}
.lineVert {
  background-image: url('lineVert.png');
  background-repeat: no-repeat;
  width: 4px;
  position: relative;
}
.lineVertHeader {
  height: 150px;
  position: absolute;
  top: 0;
  left: 397px;
}
.loggedInBox {
  background-image: url('loggedInBox.png');
  background-repeat: no-repeat;
  width: 255px;
  height: 41px;
  position: absolute;
  top: 0px;
  right: 10px;
}
.loggedInBox h5 {
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  top: 10px;
}
.loggedInBox h5 a {
  color: #5dcff3;
}
.buttonSmallDown {
  float: right;
  background-image: url('buttonEditSmallDown.png');
}
.buttonSmallDown h5 a {
  color: #5dcff3;
  text-align: center;
  display: block;
  width: 67px;
  height: 40px;
  font-size: 17px;
  text-decoration: none;
  padding: 8px 6px;
}
.buttonSmallUp {
  float: right;
  background-image: url('buttonEditSmall.png');
  width: 67px;
  height: 40px;
}
.buttonSmallUp h5 a {
  text-align: center;
  display: block;
  width: 67px;
  height: 40px;
  font-size: 17px;
  text-decoration: none;
  margin-top: -2px;
  margin-left: -2px;
  padding: 9px 2px 0px 5px;
}
.buttonSmallUp h5 a:hover {
  color: white;
}
.buttonSmallerDown {
  float: right;
  background-image: url('buttonEditSmallerDown.png');
  background-repeat: no-repeat;
  width: 105px;
  height: 30px;
  position: relative;
  margin-top: 4px;
}
.buttonSmallerDown h5 a {
  color: white;
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  display: block;
  width: 105px;
  height: 30px;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 5px 0px 1px;
}
.buttonSmallerUp {
  float: right;
  background-image: url('buttonEditSmallerUp.png');
  width: 105px;
  height: 33px;
  margin-top: 3px;
}
.buttonSmallerUp h5 a {
  color: white;
  text-align: center;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 105px;
  height: 33px;
  font-size: 16px;
  text-decoration: none;
  margin-top: -2px;
  margin-left: -2px;
  padding: 7px 2px 0px 5px;
}
.buttonSmallerUp h5 a:hover {
  color: #5dcff3;
}
.buttonHiderPrice {
  width: 105px;
  height: 33px;
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 200;
}
.buttonHiderItem {
  width: 105px;
  height: 33px;
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 200;
}
.buttonDeadOpacity {
  opacity: .3;
}
.buttonSave {
  display: none;
  float: left;
  margin-top: 13px;
}
.buttonSave h5 a {
  color: #5dcff3;
}
.buttonSave h5 a:hover {
  color: #ff7287;
}
.buttonSaveBeer {
  display: none;
}
#saveButtonSigFood,
#saveButtonSigDrink {
  color: white;
  float: right;
  margin-right: 9px;
}
#saveButtonSigFood:hover,
#saveButtonSigDrink:hover {
  color: #ff7287;
}
.buttonSaveWine,
.buttonSaveCock,
.buttonSaveApp,
.buttonSaveEntre {
  display: none;
  position: relative;
  float: right;
  margin: 0;
}
.lineHorizHeader {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 135px;
  margin-top: 0;
}
.lineHoriz {
  background-image: url('lineHoriz.png');
  background-repeat: no-repeat;
  height: 4px;
  position: relative;
  width: 95%;
  margin-left: 2.5%;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  float: left;
}
.lineHorizInner {
  margin-top: 0;
}
.editButton {
  float: right;
}
.menuCell {
  position: relative;
  float: left;
}
.menuCell input[type="submit"] {
  background-image: url('buttonEditSmall.png');
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 0px !important;
  height: 36px;
  width: 67px;
  float: left;
  background-color: transparent;
  border: medium none;
  color: #5dcff3;
  font-size: 14px !important;
}
.menuCell input[type="submit"]:hover {
  color: white;
}
.menuCell input[type="submit"]:active {
  background-image: url('buttonEditSmallDown.png');
}
.ulSingleLineItem {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 0px;
  float: left;
}
.ulSingleLineItem .arrowDown {
  display: none;
  background-image: url('arrowDown.png');
  background-repeat: no-repeat;
  width: 13px;
  height: 19px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  clear: both;
}
.ulSingleLineItem .singleLineItem {
  margin: 0;
  padding: 0 0 0 5px;
  margin-top: -7px;
  float: left;
}
.ulSingleLineItem .singleLineItem .itemTitleSingle {
  float: left;
}
.ulSingleLineItem .singleLineItem .itemTitleSingle span.priceSingleItem {
  opacity: .5;
}
.ulListDetail {
  width: 320px;
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
}
.ulListDetail .itemTitle {
  margin: 0;
  padding: 0;
}
.ulListDetail .itemDetail {
  margin: 0;
  padding: 8px 0 0 10px;
  width: 100%;
  float: left;
  clear: both;
}
.columnTopBlocker {
  float: left;
  width: 320px;
  height: 140px;
}
.columnOne {
  width: 320px;
  float: left;
  margin-right: 60px;
  margin-left: 30px;
}
.columnOne .columnTopBlocker {
  float: left;
  width: 320px;
  height: 140px;
}
.columnTwo {
  float: left;
  width: 320px;
}
.columnTwo .columnTopBlocker {
  height: 140px;
  width: 320px;
}
.bankEditWrapper {
  width: 600px;
  margin-top: 15px;
  margin-left: 0;
  padding-top: 14px;
  float: left;
  z-index: -100;
  list-style: none;
}
.sigFoodEditWrapper,
.sigDrinkEditWrapper,
.wineEditWrapper,
.wineEditUl,
.cockEditWrapper,
.cockEditUl,
.appEditWrapper,
.appEditUl,
.entreEditWrapper,
.entreEditUl {
  width: 320px;
  margin-top: 15px;
  margin-left: 0;
  padding-top: 14px;
  float: left;
  z-index: -100;
  list-style: none;
}
.sigFoodEditWrapper .sigFoodTitle,
.sigDrinkEditWrapper .sigFoodTitle,
.wineEditWrapper .sigFoodTitle,
.wineEditUl .sigFoodTitle,
.cockEditWrapper .sigFoodTitle,
.cockEditUl .sigFoodTitle,
.appEditWrapper .sigFoodTitle,
.appEditUl .sigFoodTitle,
.entreEditWrapper .sigFoodTitle,
.entreEditUl .sigFoodTitle,
.sigFoodEditWrapper .sigFoodDescription,
.sigDrinkEditWrapper .sigFoodDescription,
.wineEditWrapper .sigFoodDescription,
.wineEditUl .sigFoodDescription,
.cockEditWrapper .sigFoodDescription,
.cockEditUl .sigFoodDescription,
.appEditWrapper .sigFoodDescription,
.appEditUl .sigFoodDescription,
.entreEditWrapper .sigFoodDescription,
.entreEditUl .sigFoodDescription,
.sigFoodEditWrapper .sigFoodPrice,
.sigDrinkEditWrapper .sigFoodPrice,
.wineEditWrapper .sigFoodPrice,
.wineEditUl .sigFoodPrice,
.cockEditWrapper .sigFoodPrice,
.cockEditUl .sigFoodPrice,
.appEditWrapper .sigFoodPrice,
.appEditUl .sigFoodPrice,
.entreEditWrapper .sigFoodPrice,
.entreEditUl .sigFoodPrice,
.sigFoodEditWrapper .sigDrinkTitle,
.sigDrinkEditWrapper .sigDrinkTitle,
.wineEditWrapper .sigDrinkTitle,
.wineEditUl .sigDrinkTitle,
.cockEditWrapper .sigDrinkTitle,
.cockEditUl .sigDrinkTitle,
.appEditWrapper .sigDrinkTitle,
.appEditUl .sigDrinkTitle,
.entreEditWrapper .sigDrinkTitle,
.entreEditUl .sigDrinkTitle,
.sigFoodEditWrapper .sigDrinkDescription,
.sigDrinkEditWrapper .sigDrinkDescription,
.wineEditWrapper .sigDrinkDescription,
.wineEditUl .sigDrinkDescription,
.cockEditWrapper .sigDrinkDescription,
.cockEditUl .sigDrinkDescription,
.appEditWrapper .sigDrinkDescription,
.appEditUl .sigDrinkDescription,
.entreEditWrapper .sigDrinkDescription,
.entreEditUl .sigDrinkDescription,
.sigFoodEditWrapper .sigDrinkPrice,
.sigDrinkEditWrapper .sigDrinkPrice,
.wineEditWrapper .sigDrinkPrice,
.wineEditUl .sigDrinkPrice,
.cockEditWrapper .sigDrinkPrice,
.cockEditUl .sigDrinkPrice,
.appEditWrapper .sigDrinkPrice,
.appEditUl .sigDrinkPrice,
.entreEditWrapper .sigDrinkPrice,
.entreEditUl .sigDrinkPrice,
.sigFoodEditWrapper .wineTitle,
.sigDrinkEditWrapper .wineTitle,
.wineEditWrapper .wineTitle,
.wineEditUl .wineTitle,
.cockEditWrapper .wineTitle,
.cockEditUl .wineTitle,
.appEditWrapper .wineTitle,
.appEditUl .wineTitle,
.entreEditWrapper .wineTitle,
.entreEditUl .wineTitle,
.sigFoodEditWrapper .wineDescription,
.sigDrinkEditWrapper .wineDescription,
.wineEditWrapper .wineDescription,
.wineEditUl .wineDescription,
.cockEditWrapper .wineDescription,
.cockEditUl .wineDescription,
.appEditWrapper .wineDescription,
.appEditUl .wineDescription,
.entreEditWrapper .wineDescription,
.entreEditUl .wineDescription,
.sigFoodEditWrapper .cockDescription,
.sigDrinkEditWrapper .cockDescription,
.wineEditWrapper .cockDescription,
.wineEditUl .cockDescription,
.cockEditWrapper .cockDescription,
.cockEditUl .cockDescription,
.appEditWrapper .cockDescription,
.appEditUl .cockDescription,
.entreEditWrapper .cockDescription,
.entreEditUl .cockDescription,
.sigFoodEditWrapper .cockTitle,
.sigDrinkEditWrapper .cockTitle,
.wineEditWrapper .cockTitle,
.wineEditUl .cockTitle,
.cockEditWrapper .cockTitle,
.cockEditUl .cockTitle,
.appEditWrapper .cockTitle,
.appEditUl .cockTitle,
.entreEditWrapper .cockTitle,
.entreEditUl .cockTitle,
.sigFoodEditWrapper .appTitle,
.sigDrinkEditWrapper .appTitle,
.wineEditWrapper .appTitle,
.wineEditUl .appTitle,
.cockEditWrapper .appTitle,
.cockEditUl .appTitle,
.appEditWrapper .appTitle,
.appEditUl .appTitle,
.entreEditWrapper .appTitle,
.entreEditUl .appTitle,
.sigFoodEditWrapper .appDescription,
.sigDrinkEditWrapper .appDescription,
.wineEditWrapper .appDescription,
.wineEditUl .appDescription,
.cockEditWrapper .appDescription,
.cockEditUl .appDescription,
.appEditWrapper .appDescription,
.appEditUl .appDescription,
.entreEditWrapper .appDescription,
.entreEditUl .appDescription,
.sigFoodEditWrapper .entreTitle,
.sigDrinkEditWrapper .entreTitle,
.wineEditWrapper .entreTitle,
.wineEditUl .entreTitle,
.cockEditWrapper .entreTitle,
.cockEditUl .entreTitle,
.appEditWrapper .entreTitle,
.appEditUl .entreTitle,
.entreEditWrapper .entreTitle,
.entreEditUl .entreTitle,
.sigFoodEditWrapper .entreDescription,
.sigDrinkEditWrapper .entreDescription,
.wineEditWrapper .entreDescription,
.wineEditUl .entreDescription,
.cockEditWrapper .entreDescription,
.cockEditUl .entreDescription,
.appEditWrapper .entreDescription,
.appEditUl .entreDescription,
.entreEditWrapper .entreDescription,
.entreEditUl .entreDescription {
  border: 0;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  margin-left: 7px;
  margin-top: -9px;
  padding-left: 10px;
  float: left;
  display: block;
  background: transparent;
  background-image: url('backgroundInput.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
  font-family: 'museo_sans_500regular';
  font-size: 19px;
  color: #5dcff3;
  font-weight: 500;
}
.sigFoodEditWrapper input:focus,
.sigDrinkEditWrapper input:focus,
.wineEditWrapper input:focus,
.wineEditUl input:focus,
.cockEditWrapper input:focus,
.cockEditUl input:focus,
.appEditWrapper input:focus,
.appEditUl input:focus,
.entreEditWrapper input:focus,
.entreEditUl input:focus,
.sigFoodEditWrapper textarea:focus,
.sigDrinkEditWrapper textarea:focus,
.wineEditWrapper textarea:focus,
.wineEditUl textarea:focus,
.cockEditWrapper textarea:focus,
.cockEditUl textarea:focus,
.appEditWrapper textarea:focus,
.appEditUl textarea:focus,
.entreEditWrapper textarea:focus,
.entreEditUl textarea:focus {
  border: 3px dashed #5dcff3;
}
.sigFoodEditWrapper :-webkit-input-placeholder,
.sigDrinkEditWrapper :-webkit-input-placeholder,
.wineEditWrapper :-webkit-input-placeholder,
.wineEditUl :-webkit-input-placeholder,
.cockEditWrapper :-webkit-input-placeholder,
.cockEditUl :-webkit-input-placeholder,
.appEditWrapper :-webkit-input-placeholder,
.appEditUl :-webkit-input-placeholder,
.entreEditWrapper :-webkit-input-placeholder,
.entreEditUl :-webkit-input-placeholder {
  color: #666;
}
.sigFoodEditWrapper :-moz-placeholder,
.sigDrinkEditWrapper :-moz-placeholder,
.wineEditWrapper :-moz-placeholder,
.wineEditUl :-moz-placeholder,
.cockEditWrapper :-moz-placeholder,
.cockEditUl :-moz-placeholder,
.appEditWrapper :-moz-placeholder,
.appEditUl :-moz-placeholder,
.entreEditWrapper :-moz-placeholder,
.entreEditUl :-moz-placeholder {
  color: #666;
}
.sigFoodEditWrapper .sigFoodDescription,
.sigDrinkEditWrapper .sigFoodDescription,
.wineEditWrapper .sigFoodDescription,
.wineEditUl .sigFoodDescription,
.cockEditWrapper .sigFoodDescription,
.cockEditUl .sigFoodDescription,
.appEditWrapper .sigFoodDescription,
.appEditUl .sigFoodDescription,
.entreEditWrapper .sigFoodDescription,
.entreEditUl .sigFoodDescription,
.sigFoodEditWrapper .sigDrinkDescription,
.sigDrinkEditWrapper .sigDrinkDescription,
.wineEditWrapper .sigDrinkDescription,
.wineEditUl .sigDrinkDescription,
.cockEditWrapper .sigDrinkDescription,
.cockEditUl .sigDrinkDescription,
.appEditWrapper .sigDrinkDescription,
.appEditUl .sigDrinkDescription,
.entreEditWrapper .sigDrinkDescription,
.entreEditUl .sigDrinkDescription {
  height: 100px;
}
.sigFoodEditWrapper .dollarSign,
.sigDrinkEditWrapper .dollarSign,
.wineEditWrapper .dollarSign,
.wineEditUl .dollarSign,
.cockEditWrapper .dollarSign,
.cockEditUl .dollarSign,
.appEditWrapper .dollarSign,
.appEditUl .dollarSign,
.entreEditWrapper .dollarSign,
.entreEditUl .dollarSign {
  position: relative;
  left: 15px;
  top: -4px;
  margin-right: 3px;
  color: #5dcff3;
  opacity: .6;
}
.sigFoodEditWrapper .sigFoodPrice,
.sigDrinkEditWrapper .sigFoodPrice,
.wineEditWrapper .sigFoodPrice,
.wineEditUl .sigFoodPrice,
.cockEditWrapper .sigFoodPrice,
.cockEditUl .sigFoodPrice,
.appEditWrapper .sigFoodPrice,
.appEditUl .sigFoodPrice,
.entreEditWrapper .sigFoodPrice,
.entreEditUl .sigFoodPrice,
.sigFoodEditWrapper .sigDrinkPrice,
.sigDrinkEditWrapper .sigDrinkPrice,
.wineEditWrapper .sigDrinkPrice,
.wineEditUl .sigDrinkPrice,
.cockEditWrapper .sigDrinkPrice,
.cockEditUl .sigDrinkPrice,
.appEditWrapper .sigDrinkPrice,
.appEditUl .sigDrinkPrice,
.entreEditWrapper .sigDrinkPrice,
.entreEditUl .sigDrinkPrice {
  width: 40%;
  margin-left: -7px;
  padding-left: 20px;
}
.smallDetailList input {
  height: 36px !important;
  font-size: 17px !important;
  padding-left: 22px;
  color: #5dcff3;
}
.dollarSignDetailList {
  font-size: 17px;
  float: left;
  z-index: 200;
  position: relative;
  opacity: .5;
  top: 9px;
  left: 19px;
}
.beerEditWrapper,
.liqEditWrapper {
  width: 320px;
  margin-top: 8px;
  float: left;
}
.beerEditWrapper .beerList,
.liqEditWrapper .beerList,
.beerEditWrapper .staticList,
.liqEditWrapper .staticList {
  list-style: none;
  float: left;
  width: 320px;
  margin: 7px 7px;
  padding: 0;
}
.beerEditWrapper .beerList .staticButton,
.liqEditWrapper .beerList .staticButton,
.beerEditWrapper .staticList .staticButton,
.liqEditWrapper .staticList .staticButton {
  width: 137px;
  height: 98px;
  float: left;
  margin: 7px 7px;
  padding: 6px 8px 6px 10px;
}
.beerEditWrapper .beerList .staticButton a,
.liqEditWrapper .beerList .staticButton a,
.beerEditWrapper .staticList .staticButton a,
.liqEditWrapper .staticList .staticButton a {
  display: block;
  width: 137px;
  height: 98px;
  position: relative;
  top: -6px;
  left: -10px;
}
.beerEditWrapper .beerList .staticButton .staticButtonText,
.liqEditWrapper .beerList .staticButton .staticButtonText,
.beerEditWrapper .staticList .staticButton .staticButtonText,
.liqEditWrapper .staticList .staticButton .staticButtonText {
  font-size: 16px;
  font-weight: 500;
  float: left;
}
.beerEditWrapper .beerList .staticButton .staticButtonPrice,
.liqEditWrapper .beerList .staticButton .staticButtonPrice,
.beerEditWrapper .staticList .staticButton .staticButtonPrice,
.liqEditWrapper .staticList .staticButton .staticButtonPrice {
  font-size: 16px;
  float: left;
  clear: both;
  padding-top: 11px;
  font-weight: 500;
}
.beerEditWrapper .beerList .staticButtonOff,
.liqEditWrapper .beerList .staticButtonOff,
.beerEditWrapper .staticList .staticButtonOff,
.liqEditWrapper .staticList .staticButtonOff {
  background-image: url('staticButtonOff.png');
  text-shadow: 1px 1px 1px #333;
}
.beerEditWrapper .beerList .staticButtonOff h5,
.liqEditWrapper .beerList .staticButtonOff h5,
.beerEditWrapper .staticList .staticButtonOff h5,
.liqEditWrapper .staticList .staticButtonOff h5 {
  opacity: .4;
}
.beerEditWrapper .beerList .staticButtonOff .staticButtonPrice,
.liqEditWrapper .beerList .staticButtonOff .staticButtonPrice,
.beerEditWrapper .staticList .staticButtonOff .staticButtonPrice,
.liqEditWrapper .staticList .staticButtonOff .staticButtonPrice {
  padding-top: 10px;
}
.beerEditWrapper .beerList .staticButtonOff .plusIcon,
.liqEditWrapper .beerList .staticButtonOff .plusIcon,
.beerEditWrapper .staticList .staticButtonOff .plusIcon,
.liqEditWrapper .staticList .staticButtonOff .plusIcon {
  background-image: url('plusIcon.png');
  width: 14px;
  height: 14px;
  position: relative;
  left: 98px;
  bottom: 15px;
  float: left;
  clear: both;
}
.beerEditWrapper .beerList .staticButtonActive,
.liqEditWrapper .beerList .staticButtonActive,
.beerEditWrapper .staticList .staticButtonActive,
.liqEditWrapper .staticList .staticButtonActive {
  background-image: url('staticButtonActive.png');
  -moz-box-shadow: inset 2px 2px 4px #222;
  -webkit-box-shadow: inset 2px 2px 4px #222;
  box-shadow: inset 2px 2px 4px #222;
  text-shadow: 1px 1px 1px #333;
  position: relative;
  left: 2px;
  top: 2px;
}
.beerEditWrapper .beerList .staticButtonActive .minusIcon,
.liqEditWrapper .beerList .staticButtonActive .minusIcon,
.beerEditWrapper .staticList .staticButtonActive .minusIcon,
.liqEditWrapper .staticList .staticButtonActive .minusIcon {
  background-image: url('minusIcon.png');
  width: 17px;
  height: 6px;
  position: relative;
  left: 98px;
  bottom: 12px;
  float: left;
  clear: both;
}
.dollarSignSmall {
  display: none;
  position: relative;
  top: 10px;
  left: 15px;
  font-weight: 300;
  color: #5dcff3;
  font-size: 17px;
  float: left;
}
.beerPriceLine,
.liqPriceLine {
  display: none;
  width: 30%;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
  color: #5dcff3;
  padding-left: 15px;
}
.wineEditWrapper,
.cockEditWrapper {
  display: none;
  left: 0;
  width: 320px;
  margin: 8px 0 0 0;
  float: left;
}
