.pagination {
  //background: white;
  cursor: default;
  height: 32px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999;
    padding-top: 8px;
    height: 32px;
    border: 1px solid #ddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    padding-top: 7px;
    height: 32px;
    color: white;
    border-top: 2px solid #2e6ab1;
    border-left: 2px solid #2e6ab1;
    border-right:2px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    height : 32px;
    padding-top: 0;
    padding-bottom: 1px;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}