section.section-gift-card {
    height: 485px;
    padding-top: 0px;
    padding-bottom: 0;

    .gift-card {
        background-image: url(https://res.cloudinary.com/drinkboard/image/upload/v1524846772/app/paper-certs/main-gift-card.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px;
        height: 440px;
        box-sizing: border-box;

        .gift-card-parties {
            font-weight: 500;
            padding-bottom: 10px;
        }

        .gift-card-location {
            padding-bottom: 10px;
            margin: 35px 0px;

            .gift-card-qr {
                min-height: 155px;
            }

            strong {
                font-weight: 700;
                font-size: 18pt;
                margin-top: 35px;
                display: block;
            }

            span {
                color: #29A5DE;
                display: block;
            }
        }

        .gift-card-voucher-id {
            color: #29A5DE;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 10px;

            span.gift-card-label {
                display: inline-block;
                width: 6.25em;
                padding-right: 0.125em;
                text-align: left;
                font-weight: 700;
            }
        }

        .gift-card-amount {
            margin: 70px auto 0;
            font-size: 70pt;
            color: #fff;
            text-align: center;
            font-weight: 900;
            white-space: nowrap;

            .gift-card-currency {
                font-size: 34pt;
                display: inline-block;
                vertical-align: text-top;
            }

            .gift-card-currency-extra {
                display: inline-block;
                position: relative;
                // Magic alignment numbers :<
                width: 0.8em;
                height: 0.93em;

                .gift-card-cents {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 12px;
                    font-size: 34pt;
                    vertical-align: text-top;
                }

                .gift-card-currency-type {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 75%;
                    font-size: 10pt;
                }
            }
        }

        .gift-card-items {
            bottom: 10px;
            position: absolute;
            width: 250px;

            div {
                color: #fff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                small {
                    font-size: 10pt;
                    color: #f7f7f7;
                }
            }
        }
    }

    .gift-card-details {
        font-size: 11pt;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
}

section.section-instructions {
    height: 310px;
    border-top: solid 1px #d2d2d2;
    padding-top: 45px;
    padding-bottom: 45px;

    p {
        margin-bottom: 30px;
        font-weight: lighter;
    }
}

section.section-about {
    height: 365px;
    text-align: center;
}

.logo {
    margin-bottom: 25px;
}

.card-samples ul {
    list-style-type: none;
    margin: 0;

    li {
        list-style-type: none;
        margin: 0;
        display: inline-block;

        img {
            width: 110px;
            margin: 10px 7px;
        }
    }
}
