                                          
//                 ,,        ,,             
// MMP""MM""YMM   *MM      `7MM             
// P'   MM   `7    MM        MM             
//      MM  ,6"Yb. MM,dMMb.  MM  .gP"Ya     
//      MM 8)   MM MM    `Mb MM ,M'   Yb    
//      MM  ,pm9MM MM     M8 MM 8M""""""    
//      MM 8M   MM MM.   ,M9 MM YM.    ,    
//    .JMML`Moo9^YoP^YbmdP'.JMML.`Mbmmd'                                                                                                                                                                                                                    
//              ,...    
//            .d' ""    
//            dM`       
//   ,pW"Wq. mMMmm      
//  6W'   `Wb MM        
//  8M     M8 MM        
//  YA.   ,A9 MM        
//   `Ybmd9'.JMML.                                                                                                                                
                                                          
//    .g8"""bgd                  mm                     mm          
//  .dP'     `M                  MM                     MM          
//  dM'       `,pW"Wq.`7MMpMMMbmmMMmm .gP"Ya `7MMpMMMbmmMMmm ,pP"Ybd
//  MM        6W'   `Wb MM    MM MM  ,M'   Yb  MM    MM MM   8I   `"
//  MM.       8M     M8 MM    MM MM  8M""""""  MM    MM MM   `YMMMa.
//  `Mb.     ,YA.   ,A9 MM    MM MM  YM.    ,  MM    MM MM   L.   I8
//    `"bmmmd' `Ybmd9'.JMML  JMML`Mbmo`Mbmmd'.JMML  JMML`MbmoM9mmmP'


// 1. Bootstrap Stuff
// 2. Fonts
// 3. Color variables
// 4. Main Wrapper Layout
// 5. Header (includes angled corner box-styles for now)
// 6. User sign in/create account (includes general form/input/button styling)
// 7. Home Layout (big icons)
// 8. Gift Panels
// 9. Detail
// 10. Bill + Tip Calculation

 /*                                      
`7MM"""Yp,                     mm         
  MM    Yb                     MM         
  MM    dP  ,pW"Wq.   ,pW"Wq.mmMMmm       
  MM"""bg. 6W'   `Wb 6W'   `Wb MM         
  MM    `Y 8M     M8 8M     M8 MM         
  MM    ,9 YA.   ,A9 YA.   ,A9 MM         
.JMMmmmd9 mm`Ybmd9'   `Ybmd9'  `Mbmo      
          MM                              
,pP"Ybd mmMMmm `7Mb,od8 ,6"Yb. `7MMpdMAo. 
8I   `"   MM     MM' "'8)   MM   MM   `Wb 
`YMMMa.   MM     MM     ,pm9MM   MM    M8 
L.   I8   MM     MM    8M   MM   MM   ,AP 
M9mmmP'   `Mbmo.JMML.  `Moo9^Yo. MMbmmd'  
                                 MM       
                               .JMML.                                                                               
 */                                                                          


//@import "twitter/bootstrap";


// Set the correct sprite paths
@iconSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings.png');
@iconWhiteSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings-white.png');

// Set the Font Awesome (Font Awesome is default. You can disable by commenting below lines)
//@fontAwesomeEotPath: asset-path('fontawesome-webfont.eot');
//@fontAwesomeWoffPath: asset-path('fontawesome-webfont.woff');
//@fontAwesomeTtfPath: asset-path('fontawesome-webfont.ttf');
//@fontAwesomeSvgzPath: asset-path('fontawesome-webfont.svgz');
//@fontAwesomeSvgPath: asset-path('fontawesome-webfont.svg');

// Font Awesome
// @import "MarkerFelt-Thin";

// Your custom stylesheets goes here (override Less here)
@highlight_shade: rgba(190,173,161,1);
@middle_shade: rgba(151,110,78,0.8);
@dark_shade:rgba(100,71,40,0.5);
//@darker_shade: rgba(77,34,20,0.8) ;
//@navbarBackground: @highlight_shade;
//@navbarBackgroundHighlight: @middle_shade;
@navbarText: #eee;
@navbarLinkColor: #eee;
//@bodyBackground: #eee;
@navbarHeight: 60px;
@navbarLinkBackgroundHover: transparent;
                                                                               
// `7MM"""YMM                  mm           
//   MM    `7                  MM           
//   MM   d  ,pW"Wq.`7MMpMMMbmmMMmm ,pP"Ybd 
//   MM""MM 6W'   `Wb MM    MM MM   8I   `" 
//   MM   Y 8M     M8 MM    MM MM   `YMMMa. 
//   MM     YA.   ,A9 MM    MM MM   L.   I8 
// .JMML.    `Ybmd9'.JMML  JMML`MbmoM9mmmP' 
                                                                               
@font-face {
    font-family: 'franchiseregular';
    src: url('franchise-bold-webfont.eot');
    src: url('franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('franchise-bold-webfont.woff') format('woff'),
         url('franchise-bold-webfont.ttf') format('truetype'),
         url('franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'franchiseregular';
	font-weight: normal;
	font-size: 2em;
	color: @blue;
}

@import url('http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic');

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #444;
}

@import url('http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic');

h3 {
	font-family: 'Gentium Book Basic', serif;
	font-weight: 400;
	font-style: italic;
}

// End Fonts

/*                                                                                       
     ,.-==-.       .g8"""bgd       `7MM                          
  ,pd'      `g.  .dP'     `M         MM                          
 ,P   ,dMb.A  Y. dM'       `,pW"Wq.  MM  ,pW"Wq.`7Mb,od8 ,pP"Ybd 
,P   dP  ,MP  j8 MM        6W'   `Wb MM 6W'   `Wb MM' "' 8I   `" 
8:  dM'  dM   d' MM.       8M     M8 MM 8M     M8 MM     `YMMMa. 
Wb  YML.dML..d'  `Mb.     ,YA.   ,A9 MM YA.   ,A9 MM     L.   I8 
 Wb  ``""^`"'      `"bmmmd' `Ybmd9'.JMML.`Ybmd9'.JMML.   M9mmmP' 
  `M..     .,!                                                   
    `Ybmmd'                                                      
*/

@yellow: #F9DD97;
@redHot: #FF6865;
@red: #761D1B;
@blueMid: #61ADD9;
@blue: #007ED2;
@greySublime: #2C2C27;
@blueHot: #90D8EE;
@blueLight: #CDDBE7;
@green: #687A00;

                                                                                                                 
                                                                                                                 
// `7MM"""Mq.                             
//   MM   `MM.                            
//   MM   ,M9 ,6"Yb.  .P"Ybmmm .gP"Ya     
//   MMmmdM9 8)   MM :MI  I8  ,M'   Yb    
//   MM       ,pm9MM  WmmmP"  8M""""""    
//   MM      8M   MM 8M       YM.    ,    
// .JMML.    `Moo9^Yo.YMMMMMb  `Mbmmd'    
//                   6'     dP            
//                   Ybmmmd'              
//`7MMF'     A     `7MF'                                                   
//  `MA     ,MA     ,V                                                     
//   VM:   ,VVM:   ,V `7Mb,od8 ,6"Yb. `7MMpdMAo`7MMpdMAo.  .gP"Ya `7Mb,od8 
//    MM.  M' MM.  M'   MM' "'8)   MM   MM   `Wb MM   `Wb ,M'   Yb  MM' "' 
//    `MM A'  `MM A'    MM     ,pm9MM   MM    M8 MM    M8 8M""""""  MM     
//     :MM;    :MM;     MM    8M   MM   MM   ,AP MM   ,AP YM.    ,  MM     
//      VF      VF    .JMML.  `Moo9^Yo. MMbmmd'  MMbmmd'   `Mbmmd'.JMML.    
//                                      MM       MM                        
//                                    .JMML.   .JMML.                      

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
 }

 input {
 	border-radius: 0 !important;
 }

html {
	min-height: 100%;

	body {
		background-color: @greySublime;

		.mainWrapper {
			background-color: @greySublime;
			width: 768px;
			margin: 0 auto;
	
			.mainContent {
				min-height: 100%;
				width: 768px;
				background: transparent;
				margin-top: 25px;
			}
		} 
	}
}

//Helpful go-to list styles

//General Ul

*ul {
	display: block;
	list-style-type: none;

	li {
		display: inline;
		float: left;

		a {
			height: 100%;
			width: 100%;

		}
	}
}

ul.tabsList {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 100px;

	li {
		float: left;
		height: 50px;
		margin-right: 25px;
		margin-bottom: 25px;

		.cornered {
			position: relative;
			top: 0;
			height: 0px;
			border-bottom: 25px solid @red;
   		border-left: 25px solid transparent;
   		background-color: transparent;
   		z-index: 10;
		}

		.backgroundTab {
			position: relative;
			background: @red;
			z-index: 0;
			top: 25px;
			margin-left: -25px;
		}

		h1 {
			position: relative;
			height: 25px;
			min-width: 100px;
			padding-left: 25px;
			top: -9px;

			a {
				height: 100%;
				width: 100%;
				display: block;
				position: relative;
				left: 0;
				margin: 0;
				padding: 0 7px 0 0;
				text-align: right;
			}
		}
	}
}   

//                                      ,,                  
// `7MMF'  `7MMF'                     `7MM                  
//   MM      MM                         MM                  
//   MM      MM  .gP"Ya   ,6"Yb.   ,M""bMM  .gP"Ya `7Mb,od8 
//   MMmmmmmmMM ,M'   Yb 8)   MM ,AP    MM ,M'   Yb  MM' "' 
//   MM      MM 8M""""""  ,pm9MM 8MI    MM 8M""""""  MM     
//   MM      MM YM.    , 8M   MM `Mb    MM YM.    ,  MM     
// .JMML.  .JMML.`Mbmmd' `Moo9^Yo.`Wbmd"MML.`Mbmmd'.JMML.   
                                                         
.headerColorBackground {
	position: absolute;
	width: 768px;
	height: 181px;
	background-color: @blueMid;
	margin: 0 auto;
	border-bottom: 2px solid black;

}

.logoHeader {
	position: absolute;
	top: 5px;
	left: 0;
	width: 170px;
	height: 190px;
	z-index: 100;
	
	img {
		width: 100%;
		height: 100%
	}
}

// First we lay out the general flow of the Ul and tabs...

.navbarWrapper { 
	position: relative;
	width: 100%;
	height: 180px;
	margin: 0;
	padding: 0 0 0 200px; //pushes all content besides main logo 200px to the right

	//Top Nav
	ul.navTop {
		//width: 300px;
		margin-left: 150px;
		height: 50px;
		position: absolute;
		top: 100px;
		
		//border: 1px solid black;

		li {
			background-repeat: no-repeat;
			background-position: center bottom;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			
		}


		.navTopReceive {
			width: 23px;
			background-image: url('iconMartiniFizz.png');
		}

		.navTopPurchase {
			width: 18px;
			background-image: url('iconCash.png');
		}

		.navTopFriends {
			width: 34px;
			background-image: url('iconFaces.png');
		}

		.navTopLocations {
			width: 22px;
			background-image: url('iconMapPin.png');
		}

		.navTopSettings {
			width: 34px;
		 	background-image: url('iconSettings.png');
		 }
	}



	ul a {
		list-style-type: none;
	}

	ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		top: 100px;

		li {
			list-style-type: none;
			display: inline;
			float: left;
			height: 50px;
			margin-right: 25px;

			.cornered {
				position: relative;
				top: 0;
				height: 0px;
				border-bottom: 25px solid @red;
    		border-left: 25px solid transparent;
    		background-color: transparent;
    		z-index: 10;
			}

			.backgroundTab {
				position: relative;
				background: @red;
				z-index: 0;
			}

			h1 {
				width: 100%;
				height: 100%;
				position: relative;
				top: -10px;

				a {
					display: block;
					position: relative;
					margin-top: 0px;
					left: 0;
					margin: 0;
					padding: 0 7px 0 0;
					text-align: right;
				}
			}
		}
	}

	// ..then we choose specific width/height/positions for each tab ..
	ul.navMain {

		li.home {
			width: 125px;
			
			.cornered {
				width: 125px;
			}

			.backgroundTab {
				width: 125px;
				height: 25px;
				left: -25px;
				top: 25px;
			}
		}

		li.gifts{
			width: 100px;

			.cornered {
				width: 100px;
			}

			.backgroundTab {
				width: 100px;
				height: 25px;
				left: -25px;
				top: 25px;
			}
		}

		li.buys {

			.cornered {
				width: 75px;
			}

			.backgroundTab {
				width: 75px;
				height: 25px;
				left: -25px;
				top: 25px;
			}
		}

		li.activity {
			margin-right: 0;

			.cornered {
				width: 125px;
			}

			.backgroundTab {
				width: 125px;
				height: 25px;
				left: -25px;
				top: 25px;
			}
		}
	} // and those are the tabs, each with easy moving and resizing.
	
	// This brings us to the admin/logged in Nav Bar. We'll stick it in the top right for now.

	.navLoggedIn {
		height: 20px;
		position: absolute;
		top: 0px;
		right: 25px;
		display: inline;
		
			li {
				float: right;
				display: inline;
				width: auto;
				margin-right: 25px;

				a {
					color: white;
				}
			}
 
		a {
			font-size: .85em;
		}
	}
}// ..and thats the Header. Boom. END HEADER

                                                    
//            ,,                        ,,             
//  .M"""bgd  db                        db             
// ,MI    "Y                                           
// `MMb.    `7MM  .P"Ybmmm `7MMpMMMb. `7MM `7MMpMMMb.  
//   `YMMNq.  MM :MI  I8     MM    MM   MM   MM    MM  
// .     `MM  MM  WmmmP"     MM    MM   MM   MM    MM  
// Mb     dM  MM 8M          MM    MM   MM   MM    MM  
// P"Ybmmd" .JMML.YMMMMMb  .JMML  JMML.JMML.JMML  JMML.
//               6'     dP                             
//               Ybmmmd'                               


// User Sign In Area

.signinFormWrapper {
	position: relative;
	top: 00px;
	background-color: @blue;
	width: 400px;

	h1 {
		height: 36px;
		width: 100%;
		padding-left: 10px;
	}

	form {

		input {
			height: 25px;
			border-radius: 0;
			box-shadow: 0;
			text-align: right;
			border: 0;
			box-shadow: inset 1px 1px 3px #777;
			background-color: @yellow;

			&:focus {
				box-shadow: inset 1px 1px 7px #555;
			}
		}
	}

	.button {
		border: 0;
		background-color: @yellow;
		color: @blue;
	 	letter-spacing: .02em;
	 	padding: 0 10px 10px 10px;
	 	text-shadow: none;
	 	font-size: 20px;
	 	font-family: 'Gentium Book Basic', serif;
	 	font-style: italic;
	 	font-weight: 400;

	 	&:active {
	 		margin-top: 2px;
	 		margin-left: 2px;
	 		padding-top: 2px;
	 		padding-right: 10px;
	 		box-shadow: inset 2px 2px 2px #777;
	 	}
	}
}

.autoSigninUsers {
	width: 100%;
	height: 250px;

	.userCell {
		min-width: 150px; 
		max-width: 200px;
		position: relative;
		width: auto;
		float: left;
		max-height: 100px; 
		padding: 0;
		margin: 0px 25px 25px 0;
		//border: 1px solid black;
		background: #535353;

	 	h2 {
	 		color: @redHot;
	 		padding: 0 25px 25px 10px;
	 	}

	 	h3 {
	 		position: relative;
	 		top: 0;
	 		left: 0;
	 		height: 100px;
	 		//border: 1px solid black;
	 		position: relative;
	 	}
		
		form {

	 		input {
	 			border-radius: 0;
	 			border: 0;
	 			display: block;
	 			width: 90%;
	 			height: 25px;
	 			text-align: right;
	 			border: 0;
	 			background-image: none;
	 			background-color: @red;
	 			letter-spacing: .02em;
	 			padding: 0 10px 25px 0;
	 			text-shadow: none;
	 			font-size: 20px;
	 			font-family: 'Gentium Book Basic', serif;
	 			font-style: italic;
	 			font-weight: 400;
	 		}
	 	}
	}	
}

h1.signUpHeader {
	padding-left: 10px;
	height: 50px;
}

.signUpFormWrapper {
	position: relative;
	width: 500px;
	height: 300px;
	background-color: @yellow;

	form#new_user.simple_form {
		margin-left: 25px;

		div.form-inputs {
			padding-top: 25px;
			margin-bottom: 25px;

			div.input {
				height: 25px;

				input {
					height: 25px;
					color: #ccc;
					background-color: @blue;
					border-radius: none;
				}

			}
		}

		input.createAccount {
			background-image: none;
			background-color: @blue;
			width: 50%;
			height: 50px;
			margin-left: -25px;
			border-radius: 0;
			text-align: right;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.4em;
			letter-spacing: .03em;
		}
	}
}

.socialLoginWrapper {
	position: relative;
	top: -264px;
	left: 400px;
	width: 300px;
	

	h2.signinOr {
		font-size: 4em;
		margin-bottom: 25px;
	}

	.fbLoginWrapper {
		margin-bottom: 5px;

		img {
			height: 25px;
		}
	}

	.fourSquareLogin {

		img {
			height: 25px;
		}
	}
}
                                              
// `7MMF'  `7MMF'                                 
//   MM      MM                                   
//   MM      MM  ,pW"Wq.`7MMpMMMb.pMMMb.  .gP"Ya  
//   MMmmmmmmMM 6W'   `Wb MM    MM    MM ,M'   Yb 
//   MM      MM 8M     M8 MM    MM    MM 8M"""""" 
//   MM      MM YA.   ,A9 MM    MM    MM YM.    , 
// .JMML.  .JMML.`Ybmd9'.JMML  JMML  JMML.`Mbmmd' 

.switchWrapper {
	position: relative;
	width: 94px;
	height: 27px;
	margin: 25px auto 0 auto;
	background: transparent;
}

.mapWrapper {
	width: 768px;
	height: 400px;
	margin: 25px 0;
	background-image: url('gmap768x400.png');

}

ul.bigList {	
	min-height: 100%;
	width: 768px;
	display: inline-block;
	list-style-type: none;
	margin: 25px 0 0 0;
	padding: 0;
	background-color: @greySublime;

	li {
		position: relative;
		float: left;
		width: 125px;
		min-height: 250px;
		//margin-top: 160px; 
		margin-right: 125px;
		margin-bottom: 25px;
		//border: 1px solid red;
	
		.cornered {
			display: block;
			position: relative;
			top: 0;
			width: 100px;
			height: 0px;
			border-bottom: 50px solid black;
	  	border-left: 50px solid transparent;
	   	background-color: transparent;
	   	//z-index: 200;
		}
	
		.backgroundTab {
			display: block;
			position: relative;
			width: 200px;
			height: 200px;
			left: -50px;
			top: 50px;
			background-color: black;

			img {
				position: relative;
				top: -40px;
				margin-left: 80px;
				width: 60%;
			}
		}
	}
	
	.endItem { //removes margin-right: 25px from 3rd item so rows are centered 
						//margin-right: 0;
	}
}// end big-paneled list on home page

//               ,,     ,...     
//   .g8"""bgd   db   .d' "mm    
// .dP'     `M        dM`  MM    
// dM'       ` `7MM  mMMmmmMMmm  
// MM            MM   MM   MM    
// MM.    `7MMF' MM   MM   MM    
// `Mb.     MM   MM   MM   MM    
//   `"bmmmdPY .JMML.JMML. `Mbmo 
//                                       ,,         
// `7MM"""Mq.                          `7MM         
//   MM   `MM.                           MM         
//   MM   ,M9 ,6"Yb. `7MMpMMMb.  .gP"Ya  MM ,pP"Ybd 
//   MMmmdM9 8)   MM   MM    MM ,M'   Yb MM 8I   `" 
//   MM       ,pm9MM   MM    MM 8M"""""" MM `YMMMa. 
//   MM      8M   MM   MM    MM YM.    , MM L.   I8 
// .JMML.    `Moo9^Yo.JMML  JMML.`Mbmmd.JMMLM9mmmP' 



#giftIndexWrapper {

	min-height: 100%;
	overflow: visible !important;
	margin-bottom: 175px;

	.filters {
		display: block;
		width: 100%;
		height: 50px;
		top: 0px;
		left: 0;
		margin-bottom: 25px;
	
		.cornered {
			border-bottom: 20px solid @blue;
			border-left: 20px solid transparent;
			left: 5px;
	
			.backgroundTab {
				background-color: @blue;
				height: 27px;
				left: 0px;
	
				h1 {


					a {
						padding-left: 20px;
						padding-right: 10px;
						padding-top: 5px;
						color: @blueLight;
					}
				}
			}
		}
	}

	ul.allCellWrapper {
		margin-left: 0;
		min-height: 100%;


		li {
			padding: 0;
		}
	}
}




.completed {
	background-color: #444;
}
.active {
	background-color: black;
}

.cellWrapper {
	list-style-type: none;
	width: 200px;
	height: 270px; 
	position: relative;
	float: left;
	margin: 25px 25px 0 0;
	
	img {
		position: relative;
		float: right;
		left: 20px;
		margin-top: -25px;
		margin-left: -35px;
		z-index: 200;
	}

	h2 {
		line-height: 1.2em;
		width: 70%;
		font-size: 1.1em;
		color: white;
		padding-left: 10px;
		padding-top: 10px;
	}

	h3 {
		text-align: left;
		font-size: 1em;
		color: @yellow;
		padding: 3px 10px;
	}

	.bottomBox {
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 0;
		left: 0;
		bottom: 0;
		padding: 10px;

		h1.redeemButton { // Also applies to detials button
			height: 35px;
			text-align: right;
			background-color: @redHot;
			padding-right: 5px;
			margin-bottom: 10px;
	
			input {
				line-height: 0;
				padding-bottom: 10px;
				background: transparent;
				border: 0;
				color: white;
				border-radius: 0;
				height: 40px;
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				font-size: .8em;
			}
		}
	
		h1.sendButton {
			text-align: right;
			background-color: @blueHot;
			height: 25px;
			line-height: 0;
			font-family: 'Lato', sans-serif;
	
			input {
				font-family: 'Lato', sans-serif;
				font-size: .5em;
				padding-right: 10px;
				//height: 100px;
				border: none;
				background: transparent;
				background-image: none;
				font-style: italic;
			}
		}
	}
}
 // end #giftIndexWrapper

//                                      ,,   ,,  
// `7MM"""Yb.             mm            db `7MM  
//   MM    `Yb.           MM                 MM  
//   MM     `Mb  .gP"Ya mmMMmm ,6"Yb. `7MM   MM  
//   MM      MM ,M'   Yb  MM  8)   MM   MM   MM  
//   MM     ,MP 8M""""""  MM   ,pm9MM   MM   MM  
//   MM    ,dP' YM.    ,  MM  8M   MM   MM   MM  
// .JMMmmmdP'    `Mbmmd'  `Mbm`Moo9^Yo.JMML.JMML.

.redeemWrapper {
	//width: 100%;
}

.detailWrapper {
	position: relative;
	width: 600px;
	background-color: black;
	margin: 0 auto;
	float: left;
	padding-bottom: 50px;
	//padding: 25px;

	.actions {
		list-style-type: none;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;

		li:nth-child(1) {

			input[type="submit"] {
				background: transparent;
				width: 200px;
				text-align: right;
				display: block;
				padding: 10px 10px 10px 0;
				background: @blue;
				border: none;
				color: white;
				font-family: 'franchiseregular', sans-serif;
				font-size: 2em;

			}
		}

		li:nth-child(2) {

			input {
				width: 150px;
				text-align: right;
				display: block;
				padding: 10px;
				background-color: @red;
				border: none;
				color: white;
				font-family: 'franchiseregular', sans-serif;
				font-size: 1.5em;
				box-shadow: none;
			}
		}
	}

	.profileImage {
		position: relative;
		width: 150px;
		margin: 25px;
		float: left;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.textTop {
		font-size: 2em;
		color: @blue;
		width: 300px;
		margin: 25px;
		float: left;

		.h2Highlight {
			color: @blueLight;
		}
	}

	.textRedeem {
		width: 250px;
		height: 175px;
		margin: 0 25px 0px 25px;
		float: left;
		clear: left;
		color: @blue;
		font-size: 2em;

		.h2Highlight {
			color: @blueLight;
		}
	}

	.providerPic {
		margin: 0 0 0 25px;
		width: 250px;
		float: left;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.thankYou {
		margin: 0 25px 25px 25px;
		float: right;
		text-align: right;
		width: 200px;
	}
}

.redeemWrapper {
	//width: 768px;

	.providerPic {
		float: right;
		margin: 25px;
	}

	.textRedeem {
		max-height: 125px;
	}

	.actionsWrapper {
		float: left;

		.sendDrink {
			float: left;
			clear: left;

			input {
				width: 200px;
				position: relative;
				text-align: right;
				display: block;
				padding: 10px 10px 10px 0;
				background: @blue;
				border: none;
				color: white;
				font-family: 'franchiseregular', sans-serif;
				font-size: 2em;
			}
		}

		.saveLater {
			float: left;
			clear: left;

			input {
				width: 175px;
				position: relative;
				text-align: right;
				display: block;
				padding: 6px 6px 6px 0;
				background: @yellow;
				border: none;
				color: @blue;
				font-family: 'franchiseregular', sans-serif;
				font-size: 2em;
			}
		}

		.textGive {
			float: left;
			font-size: 3.3em;
			line-height: 1.4em;
			//width: 100%;
			margin: 25px 25px 0 25px;
			text-align: left;
		}

		.redeemCode {
			margin: 25px 25px 50px 25px;
			float: right;
			font-size: 10em;

			a {
				display: block;
				float: right;
				color: @blue;
				//font-size: 5em;
			}
		}

		.enterCode {
			float: right;
			text-align: right;
			background: @redHot;
			color: white;
			width: 60%;
			padding: 0px 12px 0px 20px;
			margin-bottom: 25px;
			font-size: 1.8em;
			
			button {
				display: block;
				float: right;
				text-align: right;
				background-color: @blue;
				color: @blueLight;
				border: 0;
				border-left: 20px solid @yellow;
				margin: 10px -12px 10px 10px;
				padding: 10px 5px 10px 25px;
				font-size: 75%;
			}
		}

		#servers {
			width: 100%;
			float: left;

			.identifyServerHeader {
				font-size: 3em;
				color: @blueLight;
				margin: 25px;
			}

			.serverBox {
				float: left;

				h2 {
					color: @blueLight;
					margin: 25px;
				}

				.serverImage {
					margin: 25px;
					margin-top: 0;
					width: 125px;
					float: left;
					color: red;
	
					img {
						width: 100%;
					}
				}

				.userId {
					width: 100%;
				}
			}

			#server_code_field {
				width: 50%;
				//border: 1px solid red;
				float: left;

				form {
					margin: 0;
					padding: 0;
				}

				label {
					color: @blueLight;
					font-size: 1.1em;

				}

				input#order_server_code {
					background-color: transparent;
					border: 3px solid white;
					height: 50px;
					color: @redHot;
					font-size: 1em;	
					padding: 7px;
				}

				input[type="submit"] {
					font-family: "Lato", sans-serif;
					font-weight: normal;
					background-color: @blue;
					color: white;
					font-size: 1em;
					background-image: none;
					border: 0;
				}

				button {
					font-size: .8em;
					border-radius: 0;
					box-shadow: 0;
					border: 2px solid @yellow;
					background: none;
					color: @blue;
				}
			}
		}	
	}
}

//              ,,   ,,   ,,  
// `7MM"""Yp,   db `7MM `7MM  
//   MM    Yb        MM   MM  
//   MM    dP `7MM   MM   MM  
//   MM"""bg.   MM   MM   MM  
//   MM    `Y   MM   MM   MM  
//   MM    ,9   MM   MM   MM  
// .JMMmmmd9  .JMML.JMML.JMML

.input-prepend .active, .input-append .active {
	font-size: 105%;
  background-color: @blue;
  color: @redHot;
  border: 0;
  box-shadow: 3px 3px 0px 0px @redHot;
}

.label {
	font-weight: light !important;
}

.giftsBillWrapper {
	width: 768px;
	background-color: black;
	float: left;
	padding: 25px;

	form#new_gift {
		display: block;
		width: 100%;
		position: relative;
	}

	.billHeader {
		width: 100%;
		float: left;
		clear: both;
	}

	h2 {
		font-weight: light;
		color: @blue;
		display: block;
		float: left;
		clear: both;
		//border: 1px solid @blue;

		input#tip, input#message {
			margin-top: 6px;
			height: 25px;
			background: transparent;
			border: 1px solid @redHot;
			padding: 5px;

		}

		span.h2Highlight {
			color: @blueLight;
			font-size: 120%;
		}



		button {
			text-shadow: none;
			padding: 4px 20px;
			border-radius: 0;
			background-image: none;
			background-color: transparent;
			color: @blueHot;
			border: 1px solid @redHot;
			margin: 10px;

			&:hover {

				color: @redHot;
			}

			h2 {
				line-height: .8em;
			}
		}

		button#perItem {
			 
		}

		input#quantityAmount {
			width: 40px;
			font-size: 1.4em;
			text-align: center;
			color: @blueLight;
			background: transparent;
			height: 46px;
			margin: 0px;
			padding: 0;
			border: 0;
		}

		input#message {
			margin: 25px;
		}
	}

	.label {
		text-transform: none;
		display: block;
		float: left;
		clear: both;
		//width: 200px;
		border-radius: 0;
		background-color: transparent;
		font-weight: 100;
		color: @blueLight;
		font-size: 1em;
		//padding: 10px;
	}

	h2.totalAmount {
		float: left;
		border-top:    1px solid @blueHot;
		border-bottom: 1px solid @blueHot;
		margin-top: 25px;
		padding: .7em;
		font-size: 3em;
		width: 100%;

		label {
			display: block;
			width: 200px;
			margin: 12px;
			//border: 1px solid @yellow;
		}
	}

	img {
		float: left;
		width: 125px;
	}
}

//                                ,..,,   ,,          
// `7MM"""Mq.                   .d' "db `7MM          
//   MM   `MM.                  dM`       MM          
//   MM   ,M9 `7Mb,od8 ,pW"Wq. mMMm`7MM   MM  .gP"Ya  
//   MMmmdM9    MM' "'6W'   `Wb MM   MM   MM ,M'   Yb 
//   MM         MM    8M     M8 MM   MM   MM 8M"""""" 
//   MM         MM    YA.   ,A9 MM   MM   MM YM.    , 
// .JMML.     .JMML.   `Ybmd9'.JMML.JMML.JMML.`Mbmmd'

.profileWrapper {
	position: relative;
	width: 100%;
	background-color: black;
	margin: 0 auto;
	float: left;
	width: 100%;
}











                                                       
//   ,,                                                   
//   db                   mm                              
//                        MM                              
// `7MM ,pP"Ybd  ,pW"Wq.mmMMmm ,pW"Wq.`7MMpdMAo.  .gP"Ya  
//   MM 8I   `" 6W'   `Wb MM  6W'   `Wb MM   `Wb ,M'   Yb 
//   MM `YMMMa. 8M     M8 MM  8M     M8 MM    M8 8M"""""" 
//   MM L.   I8 YA.   ,A9 MM  YA.   ,A9 MM   ,AP YM.    , 
// .JMMLM9mmmP'  `Ybmd9'  `Mbmo`Ybmd9'  MMbmmd'   `Mbmmd' 
//                                      MM                
//                                    .JMML.              

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}



// div[class="backgroundTab"] {
// 	border: 2px solid @green;
// }

// input[type="submit"] {
// 	font-size: 3em;
// }

//                           ,,                                    
// `7MM"""Mq.              `7MM                                    
//   MM   `MM.               MM                                    
//   MM   ,M9 .gP"Ya    ,M""bMM  .gP"Ya   .gP"Ya `7MMpMMMb.pMMMb.  
//   MMmmdM9 ,M'   Yb ,AP    MM ,M'   Yb ,M'   Yb  MM    MM    MM  
//   MM  YM. 8M"""""" 8MI    MM 8M"""""" 8M""""""  MM    MM    MM  
//   MM   `MbYM.    , `Mb    MM YM.    , YM.    ,  MM    MM    MM  
// .JMML. .JMM`Mbmmd'  `Wbmd"MML.`Mbmmd'  `Mbmmd'.JMML  JMML  JMML.



























// `7MM"""YMM                   mm                   
//   MM    `7                   MM                   
//   MM   d  ,pW"Wq.   ,pW"Wq.mmMMmm .gP"Ya `7Mb,od8 
//   MM""MM 6W'   `Wb 6W'   `Wb MM  ,M'   Yb  MM' "' 
//   MM   Y 8M     M8 8M     M8 MM  8M""""""  MM     
//   MM     YA.   ,A9 YA.   ,A9 MM  YM.    ,  MM     
// .JMML.    `Ybmd9'   `Ybmd9'  `Mbmo`Mbmmd'.JMML.   

.footer {
	display: none;
}











