@import url('http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic');

@import url('http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic');

@import url('http://fonts.googleapis.com/css?family=Oswald:100,400,300,700');
/*                                      
`7MM"""Yp,                     mm         
  MM    Yb                     MM         
  MM    dP  ,pW"Wq.   ,pW"Wq.mmMMmm       
  MM"""bg. 6W'   `Wb 6W'   `Wb MM         
  MM    `Y 8M     M8 8M     M8 MM         
  MM    ,9 YA.   ,A9 YA.   ,A9 MM         
.JMMmmmd9 mm`Ybmd9'   `Ybmd9'  `Mbmo      
          MM                              
,pP"Ybd mmMMmm `7Mb,od8 ,6"Yb. `7MMpdMAo. 
8I   `"   MM     MM' "'8)   MM   MM   `Wb 
`YMMMa.   MM     MM     ,pm9MM   MM    M8 
L.   I8   MM     MM    8M   MM   MM   ,AP 
M9mmmP'   `Mbmo.JMML.  `Moo9^Yo. MMbmmd'  
                                 MM       
                               .JMML.                                                                               
 */@font-face {
  font-family: 'franchiseregular';
  src: url('franchise-bold-webfont.eot');
  src: url('franchise-bold-webfont.eot?#iefix') format('embedded-opentype'), url('franchise-bold-webfont.woff') format('woff'), url('franchise-bold-webfont.ttf') format('truetype'), url('franchise-bold-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'franchiseregular';
  font-weight: normal;
  font-size: 2em;
  color: #e2e2e2;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #929292;
}
h3 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-style: italic;
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}
/*                                                                                       
     ,.-==-.       .g8"""bgd       `7MM                          
  ,pd'      `g.  .dP'     `M         MM                          
 ,P   ,dMb.A  Y. dM'       `,pW"Wq.  MM  ,pW"Wq.`7Mb,od8 ,pP"Ybd 
,P   dP  ,MP  j8 MM        6W'   `Wb MM 6W'   `Wb MM' "' 8I   `" 
8:  dM'  dM   d' MM.       8M     M8 MM 8M     M8 MM     `YMMMa. 
Wb  YML.dML..d'  `Mb.     ,YA.   ,A9 MM YA.   ,A9 MM     L.   I8 
 Wb  ``""^`"'      `"bmmmd' `Ybmd9'.JMML.`Ybmd9'.JMML.   M9mmmP' 
  `M..     .,!                                                   
    `Ybmmd'                                                      
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  border-radius: 0 !important;
}
html body {
  background-color: #232A31;
}
html body .mainWrapper {
  background-color: url('dark_wall.png') repeat fixed left top;
  width: 768px;
  margin: 0 auto;
}
html body .mainWrapper .mainContent {
  min-height: 100%;
  width: 768px;
  background: transparent;
  margin-top: 25px;
}
ul {
  display: block;
  list-style-type: none;
}
ul li {
  display: inline;
  float: left;
}
ul li a {
  height: 100%;
  width: 100%;
}
ul.tabsList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 100px;
}
ul.tabsList li {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
ul.tabsList li h1 {
  position: relative;
  height: 25px;
  min-width: 100px;
  padding-left: 25px;
  top: -9px;
}
ul.tabsList li h1 a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0 7px 0 0;
  text-align: right;
}
.headerColorBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}
.navbarWrapper {
  position: relative;
  width: 100%;
  height: 100px;
  top: 18px;
  left: 14px;
  margin: 0;
  padding: 0;
}
.navbarWrapper ul.navTop {
  display: none;
  margin-left: 150px;
  height: 50px;
  position: absolute;
  top: 100px;
}
.navbarWrapper ul.navTop li {
  background-repeat: no-repeat;
  background-position: center bottom;
}
.navbarWrapper ul.navTop li a {
  display: block;
  width: 100%;
  height: 100%;
}
.navbarWrapper ul.navTop .navTopReceive {
  width: 23px;
  background-image: url('iconMartiniFizz.png');
}
.navbarWrapper ul.navTop .navTopPurchase {
  width: 18px;
  background-image: url('iconCash.png');
}
.navbarWrapper ul.navTop .navTopFriends {
  width: 34px;
  background-image: url('iconFaces.png');
}
.navbarWrapper ul.navTop .navTopLocations {
  width: 22px;
  background-image: url('iconMapPin.png');
}
.navbarWrapper ul.navTop .navTopSettings {
  width: 34px;
  background-image: url('iconSettings.png');
}
.navbarWrapper ul a {
  list-style-type: none;
}
.navbarWrapper ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 100px;
}
.navbarWrapper ul li {
  list-style-type: none;
  display: inline;
  float: left;
  height: 50px;
  margin-right: 25px;
}
.navbarWrapper ul li .cornered {
  position: relative;
  top: 0;
  height: 0px;
  border-bottom: 25px solid #939393;
  border-left: 25px solid transparent;
  background-color: transparent;
  z-index: 10;
}
.navbarWrapper ul li .backgroundTab {
  position: relative;
  background: #939393;
  z-index: 0;
}
.navbarWrapper ul li h1 {
  width: 100%;
  height: 100%;
  position: relative;
  top: -10px;
}
.navbarWrapper ul li h1 a {
  display: block;
  position: relative;
  margin-top: 0px;
  left: 0;
  margin: 0;
  padding: 0 7px 0 0;
  text-align: right;
}
.navbarWrapper ul.navMain .home {
  display: none;
  background-color: #007ed2;
  border-top-left-radius: 20px;
}
.navbarWrapper ul.navMain .home h2 {
  width: 125px;
  padding-top: 15px;
  padding-left: 3px;
}
.navbarWrapper ul.navMain .home h2 a {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #929292;
}
.navbarWrapper ul.navMain li.gifts {
  width: 100px;
}
.navbarWrapper ul.navMain li.gifts .cornered {
  width: 100px;
}
.navbarWrapper ul.navMain li.gifts .backgroundTab {
  width: 100px;
  height: 25px;
  left: -25px;
  top: 25px;
}
.navbarWrapper ul.navMain li.buys .cornered {
  width: 75px;
}
.navbarWrapper ul.navMain li.buys .backgroundTab {
  width: 75px;
  height: 25px;
  left: -25px;
  top: 25px;
}
.navbarWrapper ul.navMain li.activity {
  margin-right: 0;
}
.navbarWrapper ul.navMain li.activity .cornered {
  width: 125px;
}
.navbarWrapper ul.navMain li.activity .backgroundTab {
  width: 125px;
  height: 25px;
  left: -25px;
  top: 25px;
}
.navbarWrapper .navLoggedIn {
  top: 3px;
  left: 25px;
  height: 20px;
  position: relative;
  width: 700px;
  margin: 0 auto;
  display: block;
}
.navbarWrapper .navLoggedIn .logoHeader {
  position: relative;
  left: -30px;
  top: -8px;
  width: 43px;
  height: 36px;
  z-index: 100;
  background-image: url('logoCrooked.png');
}
.navbarWrapper .navLoggedIn .appStoreLink {
  width: 120px;
  height: 39px;
  top: -11px;
  background-image: url('appStorePic.png');
  position: relative;
}
.navbarWrapper .navLoggedIn li {
  float: left;
  display: inline;
  width: auto;
  margin-right: 25px;
}
.navbarWrapper .navLoggedIn li a {
  color: white;
  font-size: 14px;
  letter-spacing: .05em;
}
.bankHeaderImage {
  background-image: url('moneyBuilderHeader.png');
  background-repeat: no-repeat;
  width: 367px;
  height: 109px;
  position: absolute;
  top: 51px;
  left: 21px;
}
.profileHeaderImage {
  background-image: url('profileBuilderHeader.png');
  background-repeat: no-repeat;
  width: 367px;
  height: 109px;
  position: absolute;
  top: 51px;
  left: 21px;
}
.imageHeaderImage {
  background-image: url('imageBuilderHeader.png');
  background-repeat: no-repeat;
  width: 367px;
  height: 109px;
  position: absolute;
  top: 51px;
  left: 21px;
}
.showHeaderImage {
  background-image: url('merchantHeader.png');
  background-repeat: no-repeat;
  width: 367px;
  height: 109px;
  position: absolute;
  top: 51px;
  left: 21px;
}
.merchantSignUpObject {
  position: relative;
  float: left;
  clear: both;
  margin: 20px auto;
  width: 60%;
  padding: 10px;
  box-shadow: 1px 2px 5px 3px black;
  border: 1px solid #444A52;
  border-radius: 8px;
}
.merchantSignUpObject h1 {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  color: black;
}
.merchantSignUpObject input {
  height: 20px;
  display: block;
  width: 100%;
  padding: 1px;
}
.merchantSignUpObject input.btn {
  height: 50px;
}
.merchantSignUpObject .merchantSignUpBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B3BFD7;
  opacity: 0.53;
  z-index: -10;
}
.merchantSignUpObject textarea {
  min-height: 32px;
  width: 100%;
  resize: none;
}
.showWrapper {
  margin-top: 50px;
}
.merchantShowWrapper {
  border: 1px solid #444A52;
  box-sizing: border-box;
  width: 600px;
  height: 220px;
  margin-left: 37px;
  margin-top: 20px;
  padding-left: 12px;
  padding-top: 11px;
  float: left;
  display: block;
  box-shadow: 1px 2px 5px 3px black;
  font-family: 'museo_sans_500regular';
  font-size: 16px;
  color: #b2ffff;
  font-weight: 500;
}
.merchantShowWrapper .showImage {
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 15px;
  padding: none;
  margin-right: 30px;
  border: 1px solid #444A52;
  box-shadow: 1px 1px 5px 2px black;
}
.merchantShowWrapper .showImage img {
  display: block;
}
.merchantShowWrapper h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.merchantShowWrapper h4 {
  font-size: 25px;
  text-shadow: 3px 3px 0px black;
  color: white;
  line-height: 33px;
  margin: 20px;
  letter-spacing: .04em;
}
.merchantShowWrapper .merchantShowList {
  background-color: black;
  padding: 1em;
  padding-left: 5em;
}
.merchantSignInWrapper {
  width: 100%;
  height: 300px;
}
.merchantSignInWrapper h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.merchantSignInWrapper .tdProviderName {
  padding-right: 20px;
  font-size: 30px;
  color: #b4b4b4;
  line-height: 1.1;
}
.merchantSignInWrapper .tdDescription {
  padding-right: 25px;
  line-height: 1.1;
}
.merchantSignInWrapper .tdAddress {
  padding-right: 20px;
  line-height: 1.1;
}
.merchantSignInWrapper td {
  font-size: 20px;
  color: white;
  padding-bottom: 30px;
}
.merchantSignInWrapper img {
  margin-right: 20px;
}
.merchantSignInWrapper .backgroundBox {
  z-index: -10;
  width: 100%;
  margin-top: 177px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
}
.merchantSignInWrapper .backgroundBox2 {
  z-index: -10;
  width: 100%;
  top: 310px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  left: 0;
}
.merchantSignInWrapper .backgroundBox3 {
  z-index: -10;
  width: 100%;
  top: 443px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  left: 0;
}
.merchantSignInWrapper .backgroundBox4 {
  z-index: -10;
  width: 100%;
  top: 576px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  left: 0;
}
.merchantSignInWrapper .backgroundBox5 {
  z-index: -10;
  width: 100%;
  top: 709px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  left: 0;
}
.merchantSignInWrapper .backgroundBox6 {
  z-index: -10;
  width: 100%;
  top: 842px;
  height: 130px;
  background-color: black;
  opacity: .3;
  position: absolute;
  left: 0;
}
.signinFormWrapper {
  position: relative;
  top: 00px;
  padding-top: 10px;
  background-color: #003;
  width: 400px;
}
.signinFormWrapper h1 {
  height: 36px;
  width: 100%;
  padding-left: 10px;
}
.signinFormWrapper form .for-inputs {
  padding-left: 130px;
}
.signinFormWrapper form input {
  height: 25px;
  color: #ccc;
  background-color: #007ed2;
  border-radius: none;
  padding-left: 5px;
}
.signinFormWrapper form input:focus {
  box-shadow: inset 1px 1px 7px #555;
}
.signinFormWrapper .button {
  background-image: none;
  background-color: #007ed2;
  color: #f2f2f2;
  width: 50%;
  height: 50px;
  margin-left: 0px;
  border-radius: 0;
  border-color: #118fe3;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: .03em;
}
.signinFormWrapper .button:active {
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 2px;
  padding-right: 10px;
  box-shadow: inset 2px 2px 2px #777;
}
.autoSigninUsers {
  width: 100%;
  height: 250px;
}
.autoSigninUsers .userCell {
  min-width: 150px;
  max-width: 200px;
  position: relative;
  width: auto;
  float: left;
  max-height: 100px;
  padding: 0;
  margin: 0px 25px 25px 0;
  background: #003;
}
.autoSigninUsers .userCell h2 {
  color: #929292;
  padding: 0 25px 25px 10px;
}
.autoSigninUsers .userCell h3 {
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  position: relative;
}
.autoSigninUsers .userCell form input {
  border-radius: 0;
  border: 0;
  display: block;
  width: 90%;
  height: 25px;
  text-align: right;
  border: 0;
  background-image: none;
  background-color: #939393;
  letter-spacing: .02em;
  padding: 0 10px 25px 0;
  text-shadow: none;
  font-size: 20px;
  font-family: 'Gentium Book Basic', serif;
  font-style: italic;
  font-weight: 400;
}
h1.signUpHeader {
  padding-left: 10px;
  height: 50px;
}
.signUpFormWrapper {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #003;
}
.signUpFormWrapper form#new_user.simple_form {
  margin-left: 25px;
}
.signUpFormWrapper form#new_user.simple_form div.form-inputs {
  padding-top: 25px;
  margin-bottom: 25px;
}
.signUpFormWrapper form#new_user.simple_form div.form-inputs div.input {
  height: 25px;
}
.signUpFormWrapper form#new_user.simple_form div.form-inputs div.input input {
  height: 25px;
  color: #ccc;
  background-color: #007ed2;
  border-radius: none;
}
.signUpFormWrapper form#new_user.simple_form input.createAccount {
  background-image: none;
  background-color: #007ed2;
  width: 50%;
  height: 50px;
  margin-left: -25px;
  border-radius: 0;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: .03em;
}
.socialLoginWrapper {
  position: relative;
  top: -264px;
  left: 400px;
  width: 300px;
}
.socialLoginWrapper h2.signinOr {
  font-size: 4em;
  margin-bottom: 25px;
  color: #fff;
}
.socialLoginWrapper .fbLoginWrapper {
  margin-bottom: 5px;
}
.socialLoginWrapper .fbLoginWrapper img {
  height: 25px;
}
.socialLoginWrapper .fourSquareLogin img {
  height: 25px;
}
.homeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: -50px;
  float: left;
}
.homeWrapper .logoHeaderHome {
  background-image: url('homeLogoBig.png');
  width: 536px;
  height: 91px;
  position: relative;
  margin: 0 auto;
}
.homeWrapper .iphoneImage {
  width: 157px;
  height: 468px;
  background-image: url('iphoneSmall.png');
  float: left;
  position: relative;
  left: -35px;
  top: 0px;
}
.homeWrapper .textAreaHome {
  background-image: url('textAreaHome.png');
  width: 389px;
  height: 409px;
  position: relative;
  top: 25px;
  margin: 0 auto;
}
.switchWrapper {
  position: relative;
  width: 94px;
  height: 27px;
  margin: 25px auto 0 auto;
  background: transparent;
}
ul.bigList {
  min-height: 100%;
  width: 768px;
  display: inline-block;
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  background-color: #2c2c27;
}
ul.bigList li {
  position: relative;
  float: left;
  width: 125px;
  min-height: 250px;
  margin-right: 125px;
  margin-bottom: 25px;
}
ul.bigList li .cornered {
  display: block;
  position: relative;
  top: 0;
  width: 100px;
  height: 0px;
  border-bottom: 50px solid black;
  border-left: 50px solid transparent;
  background-color: transparent;
}
ul.bigList li .backgroundTab {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  left: -50px;
  top: 50px;
  background-color: black;
}
ul.bigList li .backgroundTab img {
  position: relative;
  top: -40px;
  margin-left: 80px;
  width: 60%;
}
#giftIndexWrapper {
  min-height: 100%;
  overflow: visible !important;
  margin-bottom: 175px;
}
#giftIndexWrapper .filters {
  display: block;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  margin-bottom: 25px;
}
#giftIndexWrapper .filters h2 {
  background-color: #929292;
  text-align: left;
  padding: 3px 15px;
  border-top-left-radius: 25px;
  font-family: 'Lato', sans-serif;
}
#giftIndexWrapper .filters h2 a {
  font-size: 1em;
}
#giftIndexWrapper ul.allCellWrapper {
  margin-left: 0;
  min-height: 100%;
}
#giftIndexWrapper ul.allCellWrapper li {
  padding: 0;
}
.completed {
  background: url('black_mamba.png') repeat fixed left top;
}
.active {
  background: url('denim.png') repeat fixed left top;
}
.cellWrapper {
  list-style-type: none;
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
  margin: 25px 25px 0 0;
}
.cellWrapper img {
  position: relative;
  float: right;
  left: 20px;
  margin-top: -25px;
  margin-left: -35px;
  z-index: 200;
}
.cellWrapper h2 {
  line-height: 1.2em;
  width: 70%;
  font-size: 1.1em;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}
.cellWrapper h3 {
  text-align: left;
  font-size: 1em;
  color: #939393;
  padding: 3px 10px;
}
.cellWrapper .bottomBox {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}
.cellWrapper .bottomBox h1.redeemButton {
  height: 35px;
  text-align: right;
  background-color: #929292;
  padding-right: 5px;
  margin-bottom: 10px;
}
.cellWrapper .bottomBox h1.redeemButton input {
  line-height: 0;
  padding-bottom: 10px;
  background: transparent;
  border: 0;
  color: white;
  border-radius: 0;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .8em;
}
.cellWrapper .bottomBox h1.sendButton {
  text-align: right;
  background-color: #b4b4b4;
  height: 25px;
  line-height: 0;
  font-family: 'Lato', sans-serif;
}
.cellWrapper .bottomBox h1.sendButton input {
  font-family: 'Lato', sans-serif;
  font-size: .5em;
  padding-right: 10px;
  border: none;
  background: transparent;
  background-image: none;
  font-style: italic;
}
.detailWrapper {
  position: relative;
  width: 768px;
  background: url('black_mamba.png') repeat fixed left top;
  margin: 0 auto;
  float: left;
  padding-bottom: 50px;
}
.detailWrapper .actions {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.detailWrapper .actions li:nth-child(1) input[type="submit"] {
  background: transparent;
  width: 200px;
  text-align: right;
  display: block;
  padding: 10px 10px 10px 0;
  background: #007ed2;
  border: none;
  color: white;
  font-family: 'franchiseregular', sans-serif;
  font-size: 2em;
}
.detailWrapper .actions li:nth-child(2) input {
  width: 150px;
  text-align: right;
  display: block;
  padding: 10px;
  background-color: #939393;
  border: none;
  color: white;
  font-family: 'franchiseregular', sans-serif;
  font-size: 1.5em;
  box-shadow: none;
}
.detailWrapper .profileImage {
  position: relative;
  width: 150px;
  margin: 25px;
  float: left;
}
.detailWrapper .profileImage img {
  width: 100%;
  height: 100%;
}
.detailWrapper .textTop {
  font-size: 2em;
  color: #007ed2;
  width: 300px;
  margin: 25px;
  float: left;
}
.detailWrapper .textTop .h2Highlight {
  color: #929292;
}
.detailWrapper .textRedeem {
  width: 250px;
  height: 175px;
  margin: 0 25px 0px 25px;
  float: left;
  clear: left;
  color: #007ed2;
  font-size: 2em;
}
.detailWrapper .textRedeem .h2Highlight {
  color: #929292;
}
.detailWrapper .providerPic {
  margin: 0 0 0 25px;
  width: 250px;
  float: left;
}
.detailWrapper .providerPic img {
  width: 100%;
  height: 100%;
}
.detailWrapper .thankYou {
  margin: 0 25px 25px 25px;
  float: right;
  text-align: right;
  width: 200px;
}
.redeemWrapper .providerPic {
  float: right;
  margin: 25px;
}
.redeemWrapper .textRedeem {
  max-height: 125px;
}
.redeemWrapper .actionsWrapper {
  float: left;
}
.redeemWrapper .actionsWrapper .sendDrink {
  float: left;
  clear: left;
}
.redeemWrapper .actionsWrapper .sendDrink input {
  width: 200px;
  position: relative;
  text-align: right;
  display: block;
  padding: 10px 10px 10px 0;
  background: #007ed2;
  border: none;
  color: white;
  font-family: 'franchiseregular', sans-serif;
  font-size: 2em;
}
.redeemWrapper .actionsWrapper .saveLater {
  float: left;
  clear: left;
}
.redeemWrapper .actionsWrapper .saveLater input {
  width: 175px;
  position: relative;
  text-align: right;
  display: block;
  padding: 6px 6px 6px 0;
  background: #939393;
  border: none;
  color: #007ed2;
  font-family: 'franchiseregular', sans-serif;
  font-size: 2em;
}
.redeemWrapper .actionsWrapper .textGive {
  float: left;
  font-size: 3.3em;
  line-height: 1.4em;
  margin: 25px 25px 0 25px;
  text-align: left;
}
.redeemWrapper .actionsWrapper .redeemCode {
  margin: 25px 25px 50px 25px;
  float: right;
  font-size: 10em;
}
.redeemWrapper .actionsWrapper .redeemCode a {
  display: block;
  float: right;
  color: #007ed2;
}
.redeemWrapper .actionsWrapper .enterCode {
  float: right;
  text-align: right;
  background: #929292;
  color: white;
  width: 60%;
  padding: 0px 12px 0px 20px;
  margin-bottom: 25px;
  font-size: 1.8em;
}
.redeemWrapper .actionsWrapper .enterCode button {
  display: block;
  float: right;
  text-align: right;
  background-color: #007ed2;
  color: #929292;
  border: 0;
  border-left: 20px solid #939393;
  margin: 10px -12px 10px 10px;
  padding: 10px 5px 10px 25px;
  font-size: 75%;
}
.redeemWrapper .actionsWrapper #servers {
  width: 100%;
  float: left;
}
.redeemWrapper .actionsWrapper #servers .identifyServerHeader {
  font-size: 3em;
  color: #929292;
  margin: 25px;
}
.redeemWrapper .actionsWrapper #servers .serverBox {
  float: left;
}
.redeemWrapper .actionsWrapper #servers .serverBox h2 {
  color: #929292;
  margin: 25px;
}
.redeemWrapper .actionsWrapper #servers .serverBox .serverImage {
  margin: 25px;
  margin-top: 0;
  width: 125px;
  float: left;
  color: red;
}
.redeemWrapper .actionsWrapper #servers .serverBox .serverImage img {
  width: 100%;
}
.redeemWrapper .actionsWrapper #servers .serverBox .userId {
  width: 100%;
}
.redeemWrapper .actionsWrapper #servers #server_code_field {
  width: 50%;
  float: left;
}
.redeemWrapper .actionsWrapper #servers #server_code_field form {
  margin: 0;
  padding: 0;
}
.redeemWrapper .actionsWrapper #servers #server_code_field label {
  color: #929292;
  font-size: 1.1em;
}
.redeemWrapper .actionsWrapper #servers #server_code_field input#order_server_code {
  background-color: transparent;
  border: 3px solid white;
  height: 50px;
  color: #929292;
  font-size: 1em;
  padding: 7px;
}
.redeemWrapper .actionsWrapper #servers #server_code_field input[type="submit"] {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  background-color: #007ed2;
  color: white;
  font-size: 1em;
  background-image: none;
  border: 0;
}
.redeemWrapper .actionsWrapper #servers #server_code_field button {
  font-size: .8em;
  border-radius: 0;
  box-shadow: 0;
  border: 2px solid #939393;
  background: none;
  color: #007ed2;
}
.input-prepend .active,
.input-append .active {
  font-size: 105%;
  background-color: #007ed2;
  color: #929292;
  border: 0;
  box-shadow: 3px 3px 0px 0px #929292;
}
.label {
  font-weight: light !important;
}
.giftsBillWrapper {
  width: 768px;
  background-color: black;
  float: left;
  padding: 25px;
}
.giftsBillWrapper form#new_gift {
  display: block;
  width: 100%;
  position: relative;
}
.giftsBillWrapper .billHeader {
  width: 100%;
  float: left;
  clear: both;
}
.giftsBillWrapper h2 {
  font-weight: light;
  color: #007ed2;
  display: block;
  float: left;
  clear: both;
}
.giftsBillWrapper h2 input#tip,
.giftsBillWrapper h2 input#message {
  margin-top: 6px;
  height: 25px;
  background: transparent;
  border: 1px solid #929292;
  padding: 5px;
}
.giftsBillWrapper h2 span.h2Highlight {
  color: #929292;
  font-size: 120%;
}
.giftsBillWrapper h2 button {
  text-shadow: none;
  padding: 4px 20px;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  color: #b4b4b4;
  border: 1px solid #929292;
  margin: 10px;
}
.giftsBillWrapper h2 button:hover {
  color: #929292;
}
.giftsBillWrapper h2 button h2 {
  line-height: .8em;
}
.giftsBillWrapper h2 input#quantityAmount {
  width: 40px;
  font-size: 1.4em;
  text-align: center;
  color: #929292;
  background: transparent;
  height: 46px;
  margin: 0px;
  padding: 0;
  border: 0;
}
.giftsBillWrapper h2 input#message {
  margin: 25px;
}
.giftsBillWrapper .label {
  text-transform: none;
  display: block;
  float: left;
  clear: both;
  border-radius: 0;
  background-color: transparent;
  font-weight: 100;
  color: #929292;
  font-size: 1em;
}
.giftsBillWrapper h2.totalAmount {
  float: left;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  margin-top: 25px;
  padding: .7em;
  font-size: 3em;
  width: 100%;
}
.giftsBillWrapper h2.totalAmount label {
  display: block;
  width: 200px;
  margin: 12px;
}
.giftsBillWrapper img {
  float: left;
  width: 125px;
}
.yourProfileWrapper {
  position: relative;
  width: 100%;
  background: transparent;
  margin: 0 auto;
  float: left;
  width: 100%;
}
.yourProfileWrapper h2 {
  font-size: 2em;
}
.yourProfileWrapper .tab-content a {
  font-size: 2em;
  padding-right: 40px;
}
.yourProfileWrapper #myTab {
  text-align: right;
  border: 0;
  margin-top: 25px;
}
.yourProfileWrapper #myTab .active {
  padding: 3px 0 3px 25px;
  font-size: 110%;
  box-shadow: 2px 2px 10px #111;
}
.yourProfileWrapper #myTab li {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.yourProfileWrapper #myTab li a {
  color: #929292;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
  background: transparent;
  border: 0;
  text-align: right;
}
.yourProfileWrapper .tab-pane {
  margin: 0;
  padding: 0;
  width: 50%;
}
.yourProfileWrapper .tab-pane h2 {
  padding: 10px;
  font-size: 1em;
}
.yourProfileWrapper li {
  color: red;
}
.theirProfileWrapper {
  background: transparent;
}
.theirProfileWrapper .tab-pane {
  background: transparent;
}
.theirProfileWrapper .tab-pane #containerIsotope li {
  width: 200px;
}
.theirProfileWrapper .tab-pane #containerIsotope li .cellContent {
  margin-bottom: 25px;
}
.theirProfileWrapper .tab-pane #containerIsotope li .cellContent h2.yourMessage {
  color: #007ed2;
}
.theirProfileWrapper .tab-pane #containerIsotope li .redeemButton form {
  margin: 0;
  padding: 0;
}
.theirProfileWrapper .tab-pane #containerIsotope li .redeemButton input {
  color: #929292;
  font-size: .9em;
  font-weight: 100;
  letter-spacing: .08em;
  padding-left: 25px;
  padding-right: 10px;
  background: url('dark_wall.png') repeat fixed left top;
  border: 0;
}
.theirProfileWrapper .tab-pane #containerIsotope li .sendButton input {
  font-weight: 200;
  color: #007ed2;
  font-size: .72em;
  letter-spacing: .05em;
  padding-left: 10px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.userListWrapper .userListWrapper {
  font-size: 4em;
  margin: 50px;
}
.userListWrapper .userListCell {
  background: url('denim.png') repeat fixed left top;
  width: 220px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
.userListWrapper h2.sendDrink {
  background: url('black_mamba.png') repeat fixed left top;
  margin-left: -10px;
  text-align: right;
}
.userListWrapper h2.sendDrink input {
  background: transparent;
  color: #929292;
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: .08em;
  padding-right: 10px;
  padding-top: 10px;
  border: 0;
}
.thankYouBuyWrapper {
  text-align: center;
}
.thankYouBuyWrapper .thankYouHeader {
  font-size: 3em;
  margin: 10px;
  color: #929292;
}
.thankYouBuyWrapper .h2Highlight {
  color: #007ed2;
  font-size: 60%;
  text-transform: uppercase;
  margin-right: 10px;
}
.thankYouBuyWrapper h2 {
  color: #929292;
  font-size: 2em;
  margin: 5px;
}
.thankYouBuyWrapper h2 a {
  display: block;
  font-size: 2em;
  margin: 25px;
}
.thankYouBuyWrapper h2 a:hover {
  color: #929292;
}
.nav-tabs li {
  padding: 0 25px;
}
.tab-pane {
  position: relative;
  margin: 0 auto;
  padding-left: 25px;
  background-color: transparent;
}
.tab-pane h2 {
  color: #929292;
}
.allMenuCellsWrapper {
  width: 768px;
}
.allMenuCellsWrapper .menuCellWrapper {
  padding: 0;
  background: url('black_mamba.png') repeat fixed left top;
  width: 200px;
  height: 345px;
  float: left;
  margin: 25px 25px 0 0;
}
.allMenuCellsWrapper .menuCellWrapper .providerName {
  font-size: 1.3em;
  padding: 5px 10px;
  line-height: 1.2em;
}
.allMenuCellsWrapper .menuCellWrapper .descriptionText {
  padding: 5px 10px;
  font-size: 1.3em;
}
.allMenuCellsWrapper .menuCellWrapper img {
  margin: 0;
  top: 0;
  left: 0;
  padding: 5px;
}
.allMenuCellsWrapper .menuCellWrapper input {
  background: transparent;
  width: 100px;
  text-align: right;
  display: block;
  padding: 10px 10px 10px 0;
  margin-top: 15px;
  background: #b4b4b4;
  border: none;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}
ul.menuHeader {
  width: 768px;
  display: inline-block;
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  background-color: url('dark_wall.png') repeat fixed left top;
  border: 1px solid red;
}
ul.menuHeader li {
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid #b4b4b4;
}
ul.menuHeader li h2 {
  margin: 0;
  padding: 0;
}
.menuTable {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-bottom: 100px;
}
.menuTable thead {
  padding: 20px;
  text-align: left;
  font-size: 2em;
  height: 1.4em;
}
.menuTable thead th {
  padding-right: 30px;
  border-bottom: 1px solid #b4b4b4;
}
.menuTable thead th h2 {
  color: #929292;
  padding: 20px;
}
.menuTable tbody {
  background: url('black_mamba.png') repeat fixed left top;
}
.menuTable tbody td {
  padding: 0 20px;
  color: white;
  border-left: 1px solid #fff;
  border-bottom: 1px dashed #555;
  font-size: .8em;
  line-height: 1.3em;
}
.menuTable tbody td input {
  background: transparent;
  border: 1px solid #b4b4b4;
  padding: 2px 10px;
  color: #929292;
  margin: 0;
  font-size: 1em;
  display: block;
  position: relative;
  top: 10px;
}
.providersPermalinkWrapper .providerHeader {
  font-size: 4em;
  padding-bottom: 30px;
}
.providersPermalinkWrapper h2 {
  font-size: 1.8em;
}
.providersPermalinkWrapper img {
  float: left;
  margin-right: 25px;
}
.providersPermalinkWrapper .nav-tabs {
  float: left;
  clear: both;
  width: 768px;
  margin: 0;
  padding: 0;
  border: 0;
}
.providersPermalinkWrapper .nav-tabs li {
  padding-left: 0;
}
.providersPermalinkWrapper .providerTab {
  background: transparent;
  margin-top: 25px;
}
.providersPermalinkWrapper .providerTab a {
  background: transparent;
  border: 0;
  color: #939393;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding: 10px 5px;
  text-decoration: underline;
}
.providersPermalinkWrapper .providerTab a:hover {
  background: transparent;
  border: 0;
  color: #b4b4b4;
}
.providersPermalinkWrapper .providerTab[class*="active"] a {
  color: #929292;
}
.providersPermalinkWrapper .tab-pane {
  width: 768px;
  top: 40px;
}
.providersPermalinkWrapper #drinkboard {
  padding: 0;
  margin: 25px 0 0 0;
}
.providersPermalinkWrapper #drinkboard .cellEventWrapper {
  background: url('black_mamba.png') repeat fixed left top;
  width: 200px;
  height: 220px;
  margin: 0 25px 25px 0;
  float: left;
}
.providersPermalinkWrapper #drinkboard .cellEventWrapper img {
  float: left;
  margin-top: -25px;
}
.providersPermalinkWrapper #drinkboard .cellEventWrapper h2 {
  margin: 15px;
  float: left;
  font-size: 1.3em;
  line-height: 1.4em;
}
.providersPermalinkWrapper #drinkboard .cellEventWrapper h2 a {
  color: red;
}
.editProfileWrapper h2 {
  font-size: 3em;
  color: red;
  font-weight: 100;
}
.editProfileWrapper label {
  color: #929292;
  font-size: .5em;
  margin-top: 10px;
  margin-right: 25px;
  font-weight: 100;
}
.editProfileWrapper input {
  height: 40px;
  font-size: .4em;
  color: #888;
}
.editProfileWrapper h2.uploadPhoto input#user_photo {
  height: 45px;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
.menuBuilderBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1500px;
  /*	background: url(BACKGROUND.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;   
	background-size: cover;*/

  z-index: -1;
}
.menuEditWrapper {
  margin: 0 auto;
  width: 670px;
  height: 600px;
}
.menuEditWrapper a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  text-decoration: none;
}
.menuEditWrapper a:hover {
  color: #1b1d2d;
}
.topRow {
  position: relative;
  width: 100%;
  height: 55px;
  width: 100%;
}
.topRow .editMenuHeader {
  position: relative;
  text-transform: capitalize;
  padding-top: 17px;
  font-size: 72px;
  font-weight: 100;
  color: #1A1C2A;
  float: left;
}
.topRow .topRowTabsWrapper {
  float: right;
  position: relative;
  width: 300px;
  height: 26px;
  left: 11px;
  top: 32px;
}
.topRow .topRowTab {
  background-image: url('topRowTab.png');
  width: 94px;
  height: 26px;
  float: left;
  color: #f2f2f2;
  margin-right: 2px;
}
.topRow .topRowText {
  color: #f2f2f2;
  font-size: 18px;
  text-align: center;
  padding-top: 3px;
}
.row2Wrapper {
  display: block;
  width: 100%;
  height: 42px;
  float: left;
  position: relative;
  top: 7px;
}
.row2Wrapper a:hover {
  color: #929292;
}
.row2Wrapper .row2ButtonUp {
  margin: 0;
  padding: 0;
  width: 95px;
  height: 42px;
  background-image: url('row2ButtonUp.png');
  background-repeat: no-repeat;
  float: left;
}
.row2Wrapper .row2ButtonUp .row2Text {
  text-align: center;
  font-size: 17px;
  font-weight: 100;
  padding-top: 10px;
}
.bigButtons {
  position: relative;
  width: 100%;
  height: 33px;
  top: 12px;
  left: 5px;
  float: left;
}
.bigButtons h4 {
  text-align: center;
  font-size: 22px;
  color: white;
  padding-top: 5px;
}
.bigButtons .bigButtonLeft {
  width: 323px;
  height: 33px;
  margin-right: 5px;
  background-image: url('bigButtonLeftUp.png');
  float: left;
}
.bigButtons .bigButtonRight {
  width: 323px;
  height: 33px;
  background-image: url('bigButtonRightUp.png');
  float: left;
}
.bigGreyHeader {
  float: left;
  display: block;
  width: 616px;
  height: 47px;
  margin-left: 22px;
  margin-top: 17px;
  background-image: url('bigGreyHeaderBackground.gif');
  background-repeat: no-repeat;
}
.bigGreyHeader .headerTextMenuItems {
  text-align: center;
  font-size: 18px;
  padding-top: 6px;
  letter-spacing: .04em;
  font-weight: 100;
  position: relative;
}
.bigGreyHeader .columnHeaderName {
  left: 127px;
}
.bigGreyHeader .columnHeaderDescription {
  left: 202px;
}
.bigGreyHeader .columnHeaderPrice {
  left: 420px;
}
.bigGreyHeader h4.headerTextSignature {
  display: none;
}
.bigGreyHeader .headerTextMenuItems {
  display: none;
  text-align: left;
  float: left;
  font-size: 16px;
}
.bigGreyHeader .headerTextPreview {
  display: none;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.bigGreyHeader .headerTextBeerGrid {
  display: none;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.bigGreyHeader .headerTextAddCustom {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.menuItemsWrapper {
  display: none;
  width: 646px;
  height: 211px;
  float: left;
  margin-top: -15px;
  margin-left: 9px;
}
.menuItemRow {
  background-image: url('menuItemBackground.png');
  width: 646px;
  height: 63px;
}
ul.menuItemList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 660px;
}
ul.menuItemList li {
  float: left;
  margin: 0;
  padding: 0;
}
ul.menuItemList li input[type=checkbox] {
  width: 19px;
  height: 19px;
  margin-left: 30px;
  margin-top: 20px;
  border: 5px solid black;
  float: left;
  display: block;
}
ul.menuItemList li h4.itemName,
ul.menuItemList li h4.itemDescription {
  display: block;
  float: left;
  font-size: 19px;
}
ul.menuItemList li .itemName {
  position: relative;
  top: 0;
  left: 10px;
  width: 200px;
  height: 63px;
  padding-top: 14px;
  text-align: center;
}
ul.menuItemList li .itemDescription {
  height: 63px;
  width: 250px;
  position: relative;
  left: 0px;
  padding-top: 14px;
}
ul.menuItemList li input.priceDisplay {
  position: relative;
  left: 54px;
  top: 8px;
  height: 35px;
  width: 35px;
  -moz-box-shadow: inset 3px 3px 5px #555555;
  -webkit-box-shadow: inset 3px 3px 5px #555555;
  box-shadow: inset 3px 3px 5px #555555;
}
.buttonMoney {
  width: 40px;
  height: 37px;
  background-image: url('buttonMoney.png');
  position: relative;
  left: 10px;
  top: 10px;
  float: left;
}
.buttonMoney:hover {
  -moz-box-shadow: inset 5px 5px 20px #000;
  -webkit-box-shadow: inset 5px 5px 20px #000;
  box-shadow: inset 5px 5px 20px #000;
}
.buttonTrash {
  width: 40px;
  height: 37px;
  background-image: url('buttonTrash.png');
  position: relative;
  left: 20px;
  top: 10px;
  float: left;
}
.buttonTrash:hover {
  -moz-box-shadow: inset 5px 5px 20px #000;
  -webkit-box-shadow: inset 5px 5px 20px #000;
  box-shadow: inset 5px 5px 20px #000;
}
.saveMenuItems {
  background-image: url('buttonSaveHuge.png');
  float: left;
  position: relative;
  width: 512px;
  height: 48px;
  top: 10px;
  left: 53px;
}
.saveMenuItems h4 {
  height: 45px;
  color: green;
}
.saveMenuItems h4 a {
  text-align: center;
  font-size: 30px;
  padding-top: 12px;
}
.addItemWrapper {
  display: none;
  width: 700px;
  height: 211px;
  float: left;
  margin-top: -15px;
}
.addItemWrapper .addItemFrame1 {
  width: 323px;
  height: 211px;
  background-image: url('signatureBackground.png');
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}
.addItemWrapper .addItemFrame2 {
  width: 323px;
  height: 211px;
  background-image: url('signatureBackground.png');
  background-repeat: no-repeat;
  float: left;
}
.addItemWrapper .smallTitleBar {
  width: 177px;
  height: 28px;
  background-image: url('smallTitleBar.png');
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
}
.addItemWrapper .smallTitleBar h4 {
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 15px;
  letter-spacing: .04em;
}
.addItemWrapper input {
  padding-left: 10px;
  border: 1px solid black;
  -moz-box-shadow: inset 3px 3px 8px #000000;
  -webkit-box-shadow: inset 3px 3px 8px #000000;
  box-shadow: inset 3px 3px 8px #000000;
}
.addItemWrapper input:focus {
  -moz-box-shadow: inset 0 0 10px #0088CC;
  -webkit-box-shadow: inset 0 0 10px #0088CC;
  box-shadow: inset 0 0 10px #0088CC;
}
.addItemWrapper form.enterSigFoodForm {
  width: 288px;
  height: 0px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: blue;
}
.addItemWrapper form.enterSigFoodForm input.newItemName {
  position: relative;
  top: 17px;
  left: 21px;
  height: 44px;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
}
.addItemWrapper form.enterSigFoodForm input.newItemDescription {
  position: relative;
  top: 19px;
  left: 21px;
  height: 63px;
  width: 100%;
  font-size: 16px;
}
.addItemWrapper form.enterSigFoodForm input.newItemPrice {
  width: 51px;
  height: 37px;
  position: relative;
  display: block;
  left: 129px;
  top: 18px;
  font-size: 16px;
  padding-left: 3px;
  text-align: center;
}
.addItemWrapper form.enterSigDrinkForm {
  width: 288px;
  height: 0px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 16px;
  top: 0;
  float: left;
}
.addItemWrapper form.enterSigDrinkForm input.newItemName {
  position: relative;
  top: 17px;
  left: 0;
  height: 44px;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
}
.addItemWrapper form.enterSigDrinkForm input.newItemDescription {
  position: relative;
  top: 19px;
  left: 0;
  height: 63px;
  width: 100%;
  font-size: 16px;
}
.addItemWrapper form.enterSigDrinkForm input.newItemPrice {
  width: 51px;
  height: 37px;
  position: relative;
  display: block;
  left: 108px;
  top: 18px;
  font-size: 16px;
  padding-left: 3px;
  text-align: center;
}
.adjustUpDown {
  width: 30px;
  height: 0px;
  position: relative;
  top: 149px;
  left: 188px;
}
.adjustUpDown a {
  width: 100%;
  height: 100%;
  display: block;
}
.adjustUpDown .adjustUp {
  width: 23px;
  height: 11px;
  background-image: url('buttonIncrease.png');
  background-repeat: no-repeat;
  margin-bottom: 3px;
}
.adjustUpDown .adjustDown {
  width: 23px;
  height: 11px;
  background-image: url('buttonDecrease.png');
  background-repeat: no-repeat;
}
.addSignatureItemButton {
  background-image: url("bigButtonRightUp.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 323px;
  position: relative;
  left: 0px;
  top: 183px;
}
.addSignatureItemButton a {
  width: 323px;
  height: 32px;
  display: block;
  color: white;
  text-decoration: none;
}
.addSignatureItemButton a:hover {
  color: #1b1d2d;
}
.addSignatureItemButton h4 {
  font-size: 19px;
  color: white;
  text-align: center;
  padding-top: 6px;
}
.greyBox {
  width: 321px;
  height: 107px;
  background-image: url('boxMediumGrey.png');
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
  top: 170px;
  left: 0;
}
.greyBox .drinkIcon {
  width: 24px;
  height: 28px;
  background-image: url('iconDrinkBlueSmall.png');
  position: relative;
  left: 20px;
  top: 43px;
  float: left;
}
.greyBox .foodIcon {
  width: 46px;
  height: 31px;
  background-image: url('foodIconSmall.png');
  position: relative;
  left: 20px;
  top: 40px;
  float: left;
}
.greyBox .itemName,
.greyBox .itemDescription {
  width: 70%;
  height: 20px;
  font-size: 17px;
  position: relative;
  display: block;
  float: right;
  top: 35px;
  letter-spacing: .04em;
}
.buttonSaveHuge {
  background-image: url('buttonSaveHuge.png');
  float: left;
  position: relative;
  width: 512px;
  height: 48px;
  top: 131px;
  left: 143px;
}
.buttonSaveHuge h4 {
  height: 45px;
  color: green;
}
.buttonSaveHuge h4 a {
  text-align: center;
  font-size: 30px;
  padding-top: 12px;
}
.wrapperPreview {
  display: none;
  width: 670px;
  height: 900px;
  padding-bottom: 100px;
  position: relative;
  top: -20px;
  float: left;
}
.wrapperPreview .thinCategory {
  background-image: url('thinCategory.gif');
  background-repeat: no-repeat;
  position: relative;
  left: 10px;
  width: 639px;
  height: 29px;
  float: left;
}
.wrapperPreview .thinCategory .thinCategoryText {
  position: relative;
  height: 29px;
  font-size: 18px;
  color: white;
  padding: 5px 0 0 10px;
}
.wrapperPreview .signatureBox1,
.wrapperPreview .signatureBox2 {
  background-image: url('boxHalfGrey.gif');
  position: relative;
  height: 83px;
  width: 48%;
  background-repeat: no-repeat;
  float: left;
  left: 8px;
}
.wrapperPreview .signatureBox1 h4,
.wrapperPreview .signatureBox2 h4 {
  width: 240px;
  font-size: 17px;
  position: relative;
  left: 90px;
  top: -10px;
  line-height: 1.2em;
}
.wrapperPreview .signatureBox1 .signatureIcon1,
.wrapperPreview .signatureBox2 .signatureIcon1 {
  background-image: url('iconDrinkBlueSmall.png');
  width: 24px;
  height: 28px;
  position: relative;
  top: 24px;
  left: 33px;
}
.wrapperPreview .signatureBox1 .signatureIcon2,
.wrapperPreview .signatureBox2 .signatureIcon2 {
  background-image: url('foodIconSmall.png');
  width: 46px;
  height: 31px;
  position: relative;
  top: 24px;
  left: 23px;
}
.wrapperPreview .menuItemListPreview {
  position: relative;
  left: 10px;
  height: auto;
  float: left;
}
.wrapperPreview .menuItemListPreview li h4 {
  padding-top: 17px;
}
.wrapperPreview .buttonSaveHugePreview {
  background-image: url('buttonSaveHuge.png');
  float: left;
  position: relative;
  width: 512px;
  height: 48px;
  left: 143px;
}
.wrapperPreview .buttonSaveHugePreview h4 {
  height: 45px;
  color: green;
}
.wrapperPreview .buttonSaveHugePreview h4 a {
  text-align: center;
  font-size: 30px;
  padding-top: 12px;
}
.wrapperBeerGrid {
  display: none;
  position: relative;
  top: -14px;
  left: 13px;
  float: left;
  height: auto;
  width: 670px;
}
.wrapperBeerGrid .beerGridContainer {
  width: 670px;
  height: 350px;
  overflow: auto;
}
.wrapperBeerGrid .cellBeer {
  background-image: url('buttonUpGrid.gif');
  background-repeat: none;
  width: 127px;
  height: 109px;
  float: left;
}
.wrapperBeerGrid .cellBeer:hover {
  background-image: url('buttonDownGrid.gif');
}
.wrapperBeerGrid .cellBeer h4 {
  color: white;
  font-size: 19px;
  letter-spacing: .04em;
  text-align: center;
  padding-top: 40px;
}
.wrapperBeerGrid .cellBeer h4:hover {
  color: #929292;
}
.wrapperBeerGrid .buttonSaveHugeBeerGrid {
  background-image: url('buttonSaveHuge.png');
  float: left;
  position: relative;
  width: 512px;
  height: 48px;
  left: 143px;
  top: 5px;
}
.wrapperBeerGrid .buttonSaveHugeBeerGrid h4 {
  height: 45px;
  color: green;
}
.wrapperBeerGrid .buttonSaveHugeBeerGrid h4 a {
  text-align: center;
  font-size: 30px;
  padding-top: 12px;
}
.wrapperAddCustom {
  width: 670px;
  position: relative;
  top: -15px;
  left: 15px;
  float: left;
}
.wrapperAddCustom .addCustomForms {
  float: left;
  background-image: url('backgroundAddCustom.gif');
  width: 630px;
  height: 77px;
}
.wrapperAddCustom .addCustomForms .addCustomName {
  position: relative;
  height: 30px;
  background: none;
  border: 0;
  border: 0;
  width: 170px;
  height: 50px;
  top: 12px;
  left: 20px;
  font-size: 17px;
  padding: 15px;
}
.wrapperAddCustom .addCustomForms .addCustomDescription {
  position: relative;
  height: 30px;
  background: none;
  border: 0;
  border: 0;
  width: 288px;
  height: 50px;
  top: 12px;
  left: 45px;
  font-size: 17px;
  padding: 15px;
}
.wrapperAddCustom .addCustomForms .addCustomPrice {
  position: relative;
  height: 30px;
  background: none;
  border: 0;
  border: 0;
  width: 50px;
  height: 35px;
  top: 12px;
  left: 65px;
  font-size: 17px;
  padding: 5px;
  text-align: center;
}
.wrapperAddCustom .addCustomForms .upDownAddCustom {
  position: absolute;
  width: 26px;
  height: 29px;
  top: 25px;
  left: 590px;
}
.wrapperAddCustom .addCustomForms .buttonAddItem {
  position: relative;
  background-image: url('buttonAddItem.gif');
  width: 126px;
  height: 29px;
  top: 3px;
  left: 516px;
}
.wrapperAddCustom .menuItemListAddCustom {
  position: relative;
  float: left;
  top: 17px;
  height: auto;
}
.wrapperAddCustom .menuItemListAddCustom .buttonEdit {
  width: 40px;
  height: 37px;
  position: relative;
  left: 30px;
  top: 10px;
  float: left;
  background-image: url('buttonEditItem.gif');
  background-repeat: no-repeat;
}
.wrapperAddCustom .saveButtonAddCustom {
  position: relative;
  float: left;
  top: 20px;
  left: 134px;
}
.footer {
  display: none;
}
.bankCell {
  position: relative;
  float: left;
  width: 600px;
  right: 0px;
}
.merchantMenu {
  border: 0;
  box-sizing: border-box;
  width: 600px;
  height: 40px;
  margin-left: 80px;
  margin-top: -25px;
  padding-left: 12px;
  padding-top: 10px;
  float: left;
  display: block;
  background: transparent;
  background-image: url('loggedInBox.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
  font-family: 'museo_sans_500regular';
  font-size: 16px;
  color: #b2ffff;
  font-weight: 500;
}
.merchantMenu a {
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 4px;
  box-shadow: 0px 1px 0px #444A52;
}
.merchantMenu a:hover {
  color: #d4ffff;
}
.employeeDisplay {
  border: 0;
  box-sizing: border-box;
  width: 600px;
  height: 100px;
  margin-left: 37px;
  margin-top: 20px;
  padding-left: 12px;
  padding-top: 11px;
  float: left;
  display: block;
  background: transparent;
  background-image: url('backgroundInput.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
  font-family: 'museo_sans_500regular';
  font-size: 16px;
  color: #b2ffff;
  font-weight: 500;
}
.employeeDisplay .employeeImage {
  position: relative;
  float: left;
  margin: 1px;
  margin-left: 5px;
  padding: none;
  margin-right: 20px;
  border: 1px solid #444A52;
  box-shadow: 1px 1px 3px 2px black;
}
.employeeDisplay .employeeImage img {
  display: block;
}
.employeeDisplay .textTop {
  font-size: 20px;
}
.employeeDisplay .employeeText {
  padding: 4px;
  color: #5DCCEF;
}
.employeeDisplay label {
  font-family: 'museo_sans_500regular';
  font-size: 16px;
  font-weight: 500;
  margin-left: 50px;
  color: #0088CC;
}
.employeeDisplay .addEmployeeCell {
  position: relative;
  float: left;
}
.employeeDisplay input[type="submit"] {
  background-image: url('buttonEditSmall.png');
  margin-top: 10px;
  margin-left: 8px;
  height: 36px;
  width: 67px;
  float: left;
  background-color: transparent;
  border: medium none;
  color: #5dcff3;
  font-size: 15px;
}
.employeeDisplay input[type="submit"]:hover {
  color: white;
}
.employeeDisplay input[type="submit"]:active {
  background-image: url('buttonEditSmallDown.png');
}
.giftIDsearch {
  margin-top: 7px;
  margin-left: 30px;
  width: 400px !important;
}
.giftIDsearch .buttonUp {
  margin-top: -10px;
}
.giftIDsearch .showAll {
  display: none;
  margin-top: -40px;
  margin-right: -54px;
}
.ordersDisplay {
  width: 500px;
  min-height: 100px;
  height: auto;
  margin-left: 37px;
  margin-top: 20px;
  padding-left: 12px;
  padding-top: 11px;
  padding-bottom: 10px;
  float: left;
  background: transparent;
  background-image: url('backgroundInput.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'museo_sans_500regular';
  font-size: 16px;
  color: #b2ffff;
  font-weight: 500;
}
.ordersDisplay .orderGiftLeft {
  width: 75px;
  float: left;
}
.ordersDisplay .orderGiftMiddle {
  width: 50%;
  float: left;
}
.ordersDisplay .orderGiftRight {
  float: right;
  width: auto;
}
.ordersDisplay .giftImage {
  margin: 1px;
  margin-left: 5px;
  padding: none;
  margin-right: 20px;
  border: 1px solid #444A52;
  box-shadow: 1px 1px 3px 2px black;
}
.ordersDisplay .giftImage img {
  display: block;
}
.ordersDisplay .giftTextLarge {
  font-size: 18px;
}
.ordersDisplay .giftText {
  padding: 4px;
  color: #5DCCEF;
}
.ordersDisplay .giftID {
  color: white;
  padding: 4px;
  padding-right: 20px;
}
.ordersDisplay .timeAgo {
  color: #0088CC;
  font-size: 12px;
  padding-left: 4px;
}
.ordersDisplay ul.giftCart {
  padding-bottom: 0.7em;
}
.ordersDisplay ul.giftCart li {
  color: white;
  width: 100%;
}
.statusopen {
  color: orange;
  padding: 5px;
}
.statusnotified {
  color: yellow;
  padding: 5px;
}
.statusredeemed {
  color: grey;
  padding: 5px;
}
.buttonLargeDown {
  float: right;
  background-image: url('buttonEditSmallDown.png');
  width: 67px;
  height: 40px;
}
.buttonLargeDown h5 a {
  color: #5dcff3;
  text-align: center;
  display: block;
  width: 67px;
  height: 40px;
  font-size: 17px;
  text-decoration: none;
  padding: 8px 6px;
}
.buttonLargeUp {
  float: right;
  background-image: url('buttonEditSmall.png');
  width: 67px;
  height: 40px;
}
.buttonLargeUp h5 a {
  text-align: center;
  display: block;
  width: 67px;
  height: 40px;
  font-size: 17px;
  text-decoration: none;
  margin-top: -2px;
  margin-left: -2px;
  padding: 9px 2px 0px 5px;
}
.buttonLargeUp h5 a:hover {
  color: white;
}
.buttonAddPosition {
  margin: 10px;
}
.addDisplay {
  display: none;
  height: 120px;
}
.buttonEmployeeSubmit {
  display: none;
  position: relative;
  float: right;
  margin: 10px;
}
.redeemInput {
  z-index: -100;
}
.redeemInput .inputRedeem {
  border: 0;
  box-sizing: border-box;
  height: 50px;
  margin-left: -10px;
  margin-top: 5px;
  height: 20px;
  padding-left: 15px;
  width: 54px;
  width: 5em;
  background: transparent;
  background-image: url('backgroundInput.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
}
.redeemInput input {
  height: 36px !important;
  font-size: 14px !important;
  padding-left: 15px;
  color: #5dcff3;
  background-color: transparent;
}
.redeemInput input:focus,
.redeemInput textarea:focus {
  border: 3px dashed #5dcff3;
  padding-left: 15px;
}
.redeemInput :-webkit-input-placeholder {
  color: #1F6CBC;
  padding-left: 15px;
}
.redeemInput :-moz-placeholder {
  color: #1F6CBC;
  padding-left: 15px;
}
.inputWrapper {
  float: left;
  width: 320px;
  padding-top: 14px;
  z-index: -100;
}
.inputWrapper .inputEmploy {
  border: 0;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  margin-left: 7px;
  margin-top: -9px;
  padding-left: 10px;
  float: left;
  display: block;
  background: transparent;
  background-image: url('backgroundInput.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
  font-family: 'museo_sans_500regular';
  font-size: 19px;
  color: #5dcff3;
  font-weight: 500;
}
.inputWrapper input {
  height: 36px !important;
  font-size: 15px !important;
  padding-left: 22px;
  color: #5dcff3;
  background-color: transparent;
}
.inputWrapper input:focus,
.inputWrapper textarea:focus {
  border: 3px dashed #5dcff3;
}
.inputWrapper :-webkit-input-placeholder {
  color: #666;
}
.inputWrapper :-moz-placeholder {
  color: #666;
}
.buttonUp {
  float: right;
  background: url('buttonEditSmall.png') repeat-y;
  width: 87px;
  height: 40px;
  margin-left: -35px;
}
.buttonUp a {
  text-align: center;
  display: block;
  width: 67px;
  height: 40px;
  font-size: 12px;
  text-decoration: none;
  padding: 9px 2px 0px 5px;
}
.buttonUp a:hover {
  color: #ddd;
}
.buttonUp a:active {
  background-image: url('buttonEditSmallDown.png');
}
