<table class="table" style="background-color: rgba(50,58,69,1); background-image: url('/logoCrookedRev.png'); background-position: right; background-repeat: no-repeat; border: 2px solid #bbb; border-bottom: 1px solid #aaa;width: 584px;" border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td class="logocell" style="padding: 20px 40px;" width="504">
      <img src="/blankHeaderEmail.png" alt="Drinkboad Email" style="-ms-interpolation-mode: bicubic;" border="0" height="46" width="171" />
      <br />
      <img src="" class="hide" border="0" height="15" width="1" />
      <p class="title" style="font-size: 32px; line-height: 34px; font-family:'Trebuchet MS', serif; font-weight: normal !important; color: #fff; padding: 0;margin: 0; text-align:right; text-shadow: 0.2em 0.1em 0.2em black">
        <%= @header_text %>
      </p>
    </td>
  </tr>
</tbody>
</table>