<p style="color: #808080; font-size: 11px; line-height: 30px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; margin: 0; padding: 0;font-weight: normal; text-align: center;">
  <a href="<%= @web_view_route %>" style="color: #808080;">
    <span style="color: #808080;">
      View in web browser
    </span>
  </a>
</p>