<div class="bankCell POSsingleColumn">
  <div class="merchantSignUpObject rounded gradient">
<h2>Upload a new Brand here</h2>
<h3>Step 1: Add Profile Information</h3>
<h3>Step 2: Upload Public Photo</h3>
	</div>
	<%= render 'form' %>
	
</div>