<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1>
        <strong><%= PAGE_NAME %></strong>&nbsp;
        <%= link_to image_tag("88-beer-glass-white.png"), home_path, {:class => "brand"} %>
      </h1>
      <div class="nav-collapse">
      <ul class="nav pull-right">
         </ul> 
      </div>
    </div>
  </div>
</div>
