<div class="">
  <%= render 'layouts/header' %>
  <div class="nav-collapse">
    <ul class="nav pull-right">
      <li><%= link_to "Log Off", root_path %></li>
    </ul> 
  </div>
</div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
<% end %>