<!-- Header -->
  <div class="logoCrooked"></div>
  <div class="headerImage"></div>
  <div class="lineVertHeader lineVert"></div>
  <div class="loggedInBox">
    <h6>Welcome</h6>
  </div>
  <div class="lineHorizHeader lineHoriz"></div>
    <div class="columnTopBlocker"></div>

